<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "SellbookDatabind">

	<resultMap id="SellbookDatabind" type="sellbookDatabind">
		<id column="BIND_NO" property="bindNo"/>
		<result column="TITLE" property="title"/>
		<result column="AUTHOR" property="author"/>
		<result column="IMAGE" property="image"/>
		<result column="PRICE" property="price"/>
		<result column="ISBN" property="isbn"/>
		<result column="PUBDATE" property="pubdate"/>
		<result column="PUBLISHER" property="publisher"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="LINK" property="link"/>
		<result column="CATEGORY_CODE" property="categoryCode"/>
		<result column="SALES_VOLUME" property="salesVolume"/>
		<result column="RATING" property="rating"/>
		<result column="STOCK" property="stock"/>
	</resultMap>
<resultMap type="member" id="memberMap">
		<result column="member_id" property="memberId" />
		<result column="member_pw" property="memberPw" />
		<result column="member_name" property="memberName" />
		<result column="member_email" property="memberEmail" />
		<result column="member_phone" property="memberPhone" />
		<result column="member_address" property="memberAddress" />
		<result column="member_gender" property="memberGender" />
		<result column="member_birth" property="memberBirth" />
		<result column="member_point" property="memberPoint" />
		<result column="member_regidate" property="memberRegiDate" />
		<result column="member_memberGrade_no" property="memberGradeNo" />
		<result column="member_total_sale" property="memberTotalSale" />
		<result column="member_visit" property="memberVisit" />
		<result column="member_today" property="memberToday" />
	</resultMap>
	
	<select id="selectSellbookDatabind" resultMap="SellbookDatabind">
		SELECT * FROM BOOK_EBOOK_DATABIND WHERE BIND_NO=#{bindNo}
	</select>

	<select id="checkMember" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE MEMBER_ID=#{memberId}
	</select>
	<select id="selectBigView" resultMap="SellbookDatabind">
		SELECT * FROM BOOK_EBOOK_DATABIND WHERE BIND_NO=#{bindNo}
	</select>
	<select id="selectBookPayment" resultMap="SellbookDatabind">
		SELECT * FROM BOOK_EBOOK_DATABIND WHERE BIND_NO=#{bindNo}
	</select>
	<update id="selectSalesVolumeAdd">
		UPDATE BOOK_EBOOK_DATABIND SET SALES_VOLUME=SALES_VOLUME+#{sellStockInt} WHERE BIND_NO=#{bindNo}
	</update>
</mapper>
