@import url(/css/cssInit.css);
.test{
	background: red;
}
.wrap{
    min-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
	width:950px;
	min-height:500px;
}
.path {
    height: 29px;
    margin-bottom: 15px;
    padding: 2px 0 9px;
    font-size: 12px;
    line-height: 15px;
    color: #555;
    border-bottom: 1px solid #ddd;
    white-space: pre;
    overflow: hidden;
}
.btndown{
    display: flex;
    align-items: flex-end;
}
.mainbanner{
    width: 950px;
    background-color: #ffcdfb;
    height: 430px;
    margin-left: 125px;
}
.mainbanner_obj1{
    width: 702px;
    background-color: #71d65d;
    height: 370px;
}
.mainbanner_objleft{
    width: 702px;
    background-color: #5d69d6;
    height: 330px;
}
.mainbanner_objcontainer{
    width: 702px;
    background-color: #77f78c;
    height: 40px;
}
.mainbanner_objinner{
    width: 100px;
    background-color: #d65d8b;
    height: 38px;
}
.mainbanner_obj2{
    width: 237px;
    background-color: #ffc75e;
    height: 370px;
}
.mainbanner_add{
    width: 117px;
    background-color: #5efaff;
    height: 182px;
    margin-left: 10px;
}
.bannerwrap{
    
    width: 1200px;
    display: flex;
    justify-content: center;
    
}
.todaybooks{
    width: 950px;
    height: 400px;
    display: flex;
    flex-direction: column;
}


.hotnew{
    width: 950px;
    background-color: #ffcdfb;
    height: 400px;
}
.risingStarBg{
    width: 950px;
    background-color: #c8ff00;
    height: 290px;
}
.weekBookBg{
    width: 950px;
    background-color: #ff6da5;
    height: 305px;
}
.hotnewObj{
    width: 224px;
    background-color: #86e7ff;
    height: 350px;
    margin-right: 10px;
    margin-left: 10px;
}
.hotnewObj2{
    width: 224px;
    background-color: #5a0053;
    height: 350px;
    margin-left: 24px;
}
.todaybooks21{
    width: 600px;
    background-color: #32a374;
    height: 50px;
}
.todaybooks22{
    width: 50px;
    background-color: #43ffb1;
    height: 50px;
}
.risingStar1{
    width: 133px;
    background-color: #ff0000;
    height: 115px;
}
.risingStar2{
    width: 817px;
    background-color: #5f5858;
    height: 290px;
}


.flex{
    display: flex;
}

.todaybooksadd1{
    width: 250px;
    background-color: #c1fa59de;
    height: 300px;
}
.todaybooksadd2{
    width: 400px;
    background-color: #ff2655;
    height: 300px;
}
.todaybooksadd3{
    width: 300px;
    background-color: #26ff31;
    height: 200px;
}
.todaybooksadd4{
    width: 300px;
    background-color: #5162ff;
    height: 100px;
}
.bestSeller_chart{
 
    width: 950px;
    background-color: #93bbc2;
    height: 545x;
}
.bestSeller_main{
   
    width:750px;
    background-color: #ffffff;
    height: 510px;
}
.bestSellerContainer{
    width: 146px;
    background-color: #ff8080;
    height: 225px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 20px;
}


.bestSeller_right{
    
    width: 190px;
    background-color: #ffffff;
    height: 545x;
    margin-left: 10px;
}
.bestSeller_innerRight{

    width: 190px;
    background-color: #00ffea;
    height: 232px;

}
.marginTop45{
    margin-top: 45px;
}
.weekBookContainer{
    min-width: 640px;
    width: 100%;
    background-color: #6aff5c;
    height: 270px;

}
.weekBookInnerContainer{
    width: 150px;
    background-color: #ff8080;
    height: 190px;

}
.weekBookObj{

    width: 150px;
    background-color: #ceff8e;
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
}
.weekBookAdd{
    width: 300px;
    background-color: #2cc46b;
    height: 250px;

}

.minibtn{
    width: 50%;
    height: 45px;
    background-color: #2cc46b;
}


.khloverBg{
    width: 950px;
    background-color: #ffcdec;
    height: 460px;
}
.khlover_container1{
    width: 250px;
    background-color: #ff5858;
    height: 410px;
}
.khlover_container2{
    width: 704px;
    background-color: #68c3ff;
    height: 410px;
    margin-left: 10px;
}
.khlover_right{
    width: 166px;
    background-color: #fff674;
    height: 350px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.khlover_obj0{
    width: 127px;
    background-color: #5b73fa;
    height: 162px;
    margin-top: 90px;
    margin-left: 50px;
}
.khlover_obj{
    width: 127px;
    background-color: #5b73fa;
    height: 162px;
    margin-top: 60px;
    margin-left: 15px;
}

.upFooterBg{
    width: 950px;
    background-color: #1cffff;
    height: 308.5px;

}
.upFooter_upSide{
    width: 475px;
    background-color: #ff1cf4;
    height: 40px;
}
.upFooter_downSide{
    width: 190px;
    background-color: #86ff40;
    height: 223px;
}
.btnFooter{
    width: 180px;
    background-color: #5d40ff;
    height: 44px;
    margin-left: 5px;
    margin-right: 10px;
}
