@charset "UTF-8";
.title_memberGrade {
    margin: 45px 0 30px;
    text-align: center;
}
.title_memberGrade h3 {
    font-size: 24px;
    line-height: 1.3;
    color: #111;
}
.tbl_memberGrade {
    width: 100%;
    border-spacing: 0;
    border-top: 2px solid #999;
    border-bottom: 1px solid #ccc;
}
.tbl_memberGrade th, .tbl_memberGrade td {
    padding: 5px;
    border: 1px solid #ccc;
    border-left-color: #ccc;
    border-width: 1px 0 0 1px;
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
    color: #333;
    background-color: #f7f7f7;
    vertical-align:middle;
}
.tbl_memberGrade .member_grade{
    padding-top: 70px;
    background: url(../images/icon_level_4_s.png) no-repeat center top;
    font-weight: normal;
}
.tbl_memberGrade big{
	font-size:16px;
}