<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="usedboard">
	<select id="selectUsedboardList" resultMap="usedboardMap">
		SELECT * FROM USEDBOARD B LEFT JOIN USEDBOARDFILE A ON B.USEDBOARD_NO=A.USEDBOARD_NO 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword2 != null and keyword2 != '' ">
					<if test="searchType2 =='memberId'">
						AND B.MEMBER_ID=${keyword2}
					</if>
					<if test="searchType2 =='catagory'">
						AND B.USEDBOARD_CATEGORY LIKE '%'||${keyword2}||'%'
					</if>
			</if>
			<if test="keyword != null and keyword != '' ">
				<if test="searchType=='title'">
					AND B.USEDBOARD_TITLE like '%'||${keyword}||'%'
				</if>
				<if test="searchType=='bookTitle'">
					AND B.USEDBOARD_BOOKTITLE like '%'||${keyword}||'%'
				</if>
				<if test="searchType=='memberid'">
					AND B.MEMBER_ID like '%'||${keyword}||'%'
				</if>
				<if test="searchType=='topPrice'">
					AND B.USEDBOARD_PRICE &gt;= ${keyword}
				</if>
				<if test="searchType=='botPrice'">
					AND B.USEDBOARD_PRICE &lt;= ${keyword}
				</if>
      		</if>
		</trim>
		ORDER BY B.USEDBOARD_NO DESC
	</select>
	<resultMap type="usedboard" id="usedboardMap">
		<id column="usedboard_No" property="usedboard_No"/>
		<result column="usedboard_Title" property="usedboard_Title"/>
		<result column="usedboard_Content" property="usedboard_Content"/>
		<result column="usedboard_Date" property="usedboard_Date"/>
		<result column="usedboard_Price" property="usedboard_Price"/>
		<result column="usedboard_State" property="usedboard_State"/>
		<result column="usedboard_Category" property="usedboard_Category" typeHandler="strArr"/>
		<result column="member_Id" property="member_Id"/>
		<result column="usedboard_BookTitle" property="usedboard_BookTitle"/>
		<collection property="usedboardfiles" resultMap="usedboardfileMap"></collection>
	</resultMap>
	<resultMap type="usedboardfile" id="usedboardfileMap">
		<id column="usedboardfile_No" property="usedboardfile_No"/>
		<result column="usedboardfile_Oriname" property="usedboardfile_Oriname"/>
		<result column="usedboardfile_Rename" property="usedboardfile_Rename"/>
		<result column="usedboard_No" property="usedboard_No"/>
	</resultMap>
	
	<select id="selectUsedboardCount" resultType="_int">
		SELECT COUNT(*) FROM USEDBOARD
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword2 != null and keyword2 != '' ">
					<if test="searchType2 =='memberId'">
						AND MEMBER_ID=${keyword2}
					</if>
					<if test="searchType2 =='catagory'">
						AND USEDBOARD_CATEGORY LIKE '%'||${keyword2}||'%'
					</if>
			</if>
			<if test="keyword != null and keyword != '' ">
				<if test="searchType=='title'">
					AND USEDBOARD_TITLE like '%'||${keyword}||'%'
				</if>
				<if test="searchType=='bookTitle'">
					AND USEDBOARD_BOOKTITLE like '%'||${keyword}||'%'
				</if>
				<if test="searchType=='memberid'">
					AND MEMBER_ID like '%'||${keyword}||'%'
				</if>
				<if test="searchType=='topPrice'">
					AND USEDBOARD_PRICE &gt;= ${keyword}
				</if>
				<if test="searchType=='botPrice'">
					AND USEDBOARD_PRICE &lt;= ${keyword}
				</if>
      		</if>
		</trim>
	</select>
	
	<select id="selectUsedboardOne" resultMap="usedboardMap">
		SELECT * 
		FROM USEDBOARD B LEFT JOIN USEDBOARDFILE A ON B.USEDBOARD_NO=A.USEDBOARD_NO  
		WHERE B.USEDBOARD_NO=${value}
	</select>
	
	<select id="selectReplyCount" resultType="_int">
		SELECT COUNT(*) FROM USEDCOMMENT WHERE USEDBOARD_NO=${value}
	</select>
	
	<select id="selectReply" resultType="usedcomment">
		SELECT * FROM USEDCOMMENT WHERE USEDBOARD_NO=${value}
	</select>
	
	<insert id="insertUsedcomment">
		INSERT INTO USEDCOMMENT VALUES(SEQ_USEDCOMMENT_NO.NEXTVAL,#{usedcomment_Content},SYSDATE,#{usedcomment_Level},#{usedcomment_UserId},#{usedcomment_CommentRef},#{usedbaord_No})
	</insert>
	
	<delete id="deleteUsedcomment">
		DELETE FROM USEDCOMMENT WHERE USEDCOMMENT_NO=${value}
	</delete>
	
	<delete id="deleteUsedcommentRef">
		DELETE FROM USEDCOMMENT WHERE USEDCOMMENT_COMMENTREF=${value}
	</delete>
	
	<update id="usedboardUpdateEnd">
		UPDATE USEDBOARD SET USEDBOARD_TITLE=#{usedboard_Title},USEDBOARD_CONTENT=#{usedboard_Content}, USEDBOARD_CATEGORY=#{usedboard_Category, typeHandler=strArr} WHERE USEDBOARD_NO=#{usedboard_No} 
	</update>
	
	<insert id="usedboardInsertEnd">
		INSERT INTO USEDBOARD VALUES(SEQ_USEDBOARD.NEXTVAL,#{usedboard_Title},#{usedboard_Content},SYSDATE,#{usedboard_Price},'y',#{usedboard_Category, typeHandler=strArr},#{member_Id},#{usedboard_BookTitle})
		<selectKey keyProperty="usedboard_No" resultType="_int" order="AFTER">
			SELECT SEQ_USEDBOARD.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="usedboardfileInsertEnd">	
		INSERT INTO USEDBOARDFILE VALUES(#{usedboardfile_Oriname},#{usedboardfile_Rename},#{usedboard_No},SEQ_USEDBOARDFILE.NEXTVAL)
	</insert>
	
	<delete id="usedboardDelete">
		DELETE FROM USEDBOARD WHERE USEDBOARD_NO=${value}
	</delete>
	
	<delete id="usedcommentDelete">
		DELETE FROM USEDCOMMENT WHERE USEDBOARD_NO=${value}
	</delete>
	
	<delete id="usedboardfileDelete">
		DELETE FROM USEDBOARDFILE WHERE USEDBOARD_NO=${value}
	</delete>
	
	<select id="usedboardfileSelect" resultMap="usedboardfileMap">
		SELECT * FROM USEDBOARDFILE WHERE USEDBOARD_NO=${value}
	</select>
	
	<update id="usedboardPayment">
		UPDATE USEDBOARD SET USEDBOARD_STATE='1' WHERE USEDBOARD_NO=${value}
	</update>
	
	<insert id="usedboardPaymentInsert">
		INSERT INTO USEDBOARDPAYMENT VALUES(SEQ_USEDBOARDPAYMENT_NO.NEXTVAL,#{usedboardPayment_Title},SYSDATE,'1',#{usedboardPayment_Price},#{usedboardPayment_BoardNo},'n',#{member_Id},#{imp_uid},#{merchant_uid})
	</insert>
	
	<select id="usedboardMyPaymentList" resultType="usedboardpayment">
		SELECT * FROM USEDBOARDPAYMENT WHERE MEMBER_ID='${value}'
	</select>
	
	<select id="usedboardMyPaymentCount" resultType="_int">
		SELECT COUNT(*) FROM USEDBOARDPAYMENT WHERE MEMBER_ID='${value}'
	</select>
	
	<update id="usedboardPay1">
		UPDATE USEDBOARD SET  USEDBOARD_STATE='2' WHERE USEDBOARD_NO='${value}'
	</update>
	
	<update id="usedboardPay11">
		UPDATE USEDBOARDPAYMENT SET  USEDBOARDPAYMENT_STATE='2' WHERE USEDBOARDPAYMENT_BOARDNO='${value}' 
	</update>
	
	<update id="usedboardPay2">
		UPDATE USEDBOARD SET  USEDBOARD_STATE='3' WHERE USEDBOARD_NO='${value}'
	</update>
	
	<update id="usedboardPay22">
		UPDATE USEDBOARDPAYMENT SET  USEDBOARDPAYMENT_STATE='3' WHERE USEDBOARDPAYMENT_BOARDNO='${value}' 
	</update>
	
	<select id="checkSingo" resultType="usedboardsingo">
		SELECT * FROM USEDBOARDSINGO WHERE USEDBOARDSINGO_BOARDNO=#{usedboardsingo_BoardNo} AND USEDBOARDSINGO_ID=#{usedboardsingo_Id}
	</select>
	
	<insert id="insertSingo">
		INSERT INTO USEDBOARDSINGO VALUES(SEQ_USEDBOARDSINGO_NO.NEXTVAL, #{usedboardsingo_BoardNo}, #{usedboardsingo_Id})
	</insert>
	
	<select id="usedboardSingoList" resultMap="usedboardsingoMap">
		SELECT * FROM USEDBOARDSINGO B LEFT JOIN USEDBOARD A ON B.USEDBOARDSINGO_BOARDNO=A.USEDBOARD_NO ORDER BY B.USEDBOARDSINGO_NO DESC
	</select>
	
	<resultMap type="usedboardsingo" id="usedboardsingoMap">
		<id column="usedboardsingo_No" property="usedboardsingo_No"/>
		<result column="usedboardsingo_BoardNo" property="usedboardsingo_BoardNo"/>
		<result column="usedboardsingo_Id" property="usedboardsingo_Id"/>
		<collection property="usedboards" resultMap="usedboardMap"></collection>
	</resultMap>
	
	<select id="usedboardSingoCount" resultType="_int">
		SELECT COUNT(*) FROM USEDBOARDSINGO
	</select>
	
	<delete id="usedboardSingoDelete">
		DELETE FROM USEDBOARDSINGO WHERE USEDBOARDSINGO_NO=${value}
	</delete>
	
	<delete id="usedboardMySingoDelete">
		DELETE FROM USEDBOARDSINGO WHERE USEDBOARDSINGO_BOARDNO=${value}
	</delete>
	
	<insert id="usedboardDeliveryt">
		INSERT INTO DELIVERYT VALUES(SEQ_DELIVERY_NO.NEXTVAL, #{usedboardPayment_Price})
	</insert>
</mapper>
