@charset "UTF-8";

@import url("nextGrade.css");

.myroom_sideMenu {
	float: left;
	width: 19%;
}

.myroom_sideMenu h1 {
	font-size: 32px;
	border-bottom: 2px solid #582810;
}

h1 a, h3 a {
	color: #582810;
	font-weight: bold;
}

.padding10 {
	padding: 10px;
}

.sideMenu h3 {
	font-size: 16px;
}

.sideMenu li {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sideMenu li:hover {
	background-color: #F1CB63;
}

.myroom_contents {
	float: right;
	width: 79%;
}

.content_head, .user_section {
	display: flex;
	align-items: center;
}
.memberGrade_head h1{
	font-size:32px;
	font-weight: bold;
	color:black;
	text-align: center;
}
.memberGrade_head h3{
	font-size:16px;
	font-weight: bold;
	color:black;
	text-align: center;
}
.user_name {
	font-size: 24px;
	font-weight: bold;
	color: black;
}
.user_point{
	float:right;
}
.tbl_nextGrade {
	width: 100%;
}

.tbl_nextGrade td {
	padding: 1.3em;
	vertical-align: middle;
	text-align: center;
	color: black;
}

.tbl_nextGrade td.td_first {
	color: #582810;
	font-weight: bold;
}
.tbl_gradeInfo td{
	padding: 1.3em;
	vertical-align: middle;
	text-align: center;
	color: black;
}
.tbl_gradeInfo td.td_first{
	color: #582810;
	font-weight: bold;
	width: 20%;
}
.tbl_gradeInfo{
	width:100%;
}
.tbl_nextGrade th {
	border-top: 1px solid #582810;
	color: #582810;
	background-color: #F1CB63;
	font-weight: bold;
	padding: 10px;
	width:25%;
}
.tbl_gradeInfo th {
	border-top: 1px solid #582810;
	color: #582810;
	background-color: #F1CB63;
	font-weight: bold;
	padding: 10px;
}
.fs8 {
	font-size: 8px;
}
.fs15{
	font-size:15px;
}
.myroom_info {
	align-self: flex-end;
}

.myroom_info li {
	padding: 1.2em;
	list-style: circle;
	font-size: 8px;
}

.bold {
	font-weight: bold;
	color: black;
}

.margin_top2e {
	margin-top: 2em;
}

.margin_top20{
	margin-top:20px;
}
.padding10 {
	padding: 10px;
}

a img {
	vertical-align: middle;
}

.fm_div{
	display:flex;
	justify-content: center;
}
.fm_valDiv{
	display:flex;
	align-items: center;
	padding:1.3em;
}