<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.rar.khbook.member.model.vo.Member"
			alias="member" />

		<!-- 쿠폰 -->
		<typeAlias type="com.rar.khbook.coupon.model.vo.Couponlist"
			alias="couponlist" />
		<typeAlias type="com.rar.khbook.coupon.model.vo.Coupon"
			alias="coupon" />
		<!-- 회원등급 -->
		<typeAlias type="com.rar.khbook.member.model.vo.Membergrade"
			alias="membergrade" />

		<typeAlias alias="strArr" type="com.rar.khbook.common.StringArrayTypeHandler"/>

		<!-- 중고게시판 -->
		<typeAlias type="com.rar.khbook.usedboard.model.vo.Usedboard" alias="usedboard"/>
		<typeAlias type="com.rar.khbook.usedboard.model.vo.Usedboardfile" alias="usedboardfile"/>
		<typeAlias type="com.rar.khbook.usedboard.model.vo.Usedcomment" alias="usedcomment"/>
		<typeAlias type="com.rar.khbook.common.StringArrayTypeHandler" alias="strArr"/>
		
		<!-- ebook -->
		<typeAlias type="com.rar.khbook.ebook.model.vo.EbookDatabind" alias="ebookDatabind"/>
		<typeAlias type="com.rar.khbook.ebook.model.vo.Ebook" alias="ebook"/>

	
		<typeAlias type="com.rar.khbook.order.model.vo.Order" alias="order"/>

		<!-- 기프트 -->
		<typeAlias type="com.rar.khbook.gift.model.vo.Gift" alias="gift"/>
		<typeAlias type="com.rar.khbook.gift.model.vo.GiftCate" alias="giftCate"/>
	
	
	</typeAliases>

</configuration>
