<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting value="VARCHAR" name="jdbcTypeForNull" />
	</settings>
	<typeAliases>
		<typeAlias type="com.rar.khbook.member.model.vo.Member"
			alias="member" />

		<!-- 쿠폰 -->
		<typeAlias type="com.rar.khbook.coupon.model.vo.Couponlist"
			alias="couponlist" />
		<typeAlias type="com.rar.khbook.coupon.model.vo.Coupon"
			alias="coupon" />
		<!-- 회원등급 -->
		<typeAlias type="com.rar.khbook.member.model.vo.Membergrade"
			alias="membergrade" />
		<typeAlias alias="strArr"
			type="com.rar.khbook.common.StringArrayTypeHandler" />
		<!-- 결제내역 -->
		<typeAlias alias="payment" type="com.rar.khbook.order.model.vo.Payment" />
		<!-- 중고게시판 -->

		<typeAlias
			type="com.rar.khbook.usedboard.model.vo.Usedboard" alias="usedboard" />
		<typeAlias
			type="com.rar.khbook.usedboard.model.vo.Usedboardfile"
			alias="usedboardfile" />
		<typeAlias
			type="com.rar.khbook.usedboard.model.vo.Usedcomment"
			alias="usedcomment" />
		<typeAlias
			type="com.rar.khbook.common.StringArrayTypeHandler" alias="strArr" />
		<typeAlias
			type="com.rar.khbook.usedboard.model.vo.UsedboardPayment"
			alias="usedboardpayment" />
		<typeAlias
			type="com.rar.khbook.usedboard.model.vo.UsedboardSingo"
			alias="usedboardsingo" />

		<!-- ebook -->
		<typeAlias
			type="com.rar.khbook.ebook.model.vo.EbookDatabind"
			alias="ebookDatabind" />
		<typeAlias type="com.rar.khbook.ebook.model.vo.Ebook"
			alias="ebook" />


		<typeAlias type="com.rar.khbook.order.model.vo.Order"
			alias="order" />


		<!-- sellpart -->
		<typeAlias
			type="com.rar.khbook.sellbook.model.vo.SellbookDatabind"
			alias="sellbookDatabind" />
		<typeAlias type="com.rar.khbook.sellbook.model.vo.BookBoard"
			alias="bookBoard" />

		<!-- 장바구니 -->
		<typeAlias
			type="com.rar.khbook.shopingList.model.vo.ShopingList"
			alias="shopingList" />
		<typeAlias
			type="com.rar.khbook.shopingList.model.vo.BookShopingList"
			alias="bookShopingList" />

		<!-- 기프트 -->
		<typeAlias type="com.rar.khbook.gift.model.vo.Ngift"
			alias="nGift" />
		<typeAlias type="com.rar.khbook.gift.model.vo.GiftCate"
			alias="giftCate" />
		<typeAlias type="com.rar.khbook.gift.model.vo.GiftBoard"
			alias="giftBoard" />

		<!-- 배송 -->
		<typeAlias type="com.rar.khbook.delivery.model.vo.Delivery"
			alias="delivery" />
		<!-- top3 -->
		<typeAlias
			type="com.rar.khbook.adminchart.model.vo.BookTopThree"
			alias="booktopthree" />

		<!-- top3 ebook -->
		<typeAlias
			type="com.rar.khbook.adminchart.model.vo.EbookTopThree"
			alias="ebooktopthree" />

		<!-- top3 gift -->
		<typeAlias
			type="com.rar.khbook.adminchart.model.vo.GiftTopThree"
			alias="gifttopthree" />



	</typeAliases>
</configuration>
