<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookView</title>
    <script src="jquery-3.6.0.min.js"></script>  
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div id="level_container" class="line">
        <div>
            <div id="level_cho">
                <!--1 레벨
                    주소값 받아서 a안에 값 설정
                -->
                <div class="level_catagory_cho">
                    <a> 홈 ></a>
                </div>

                <div class="level_catagory_cho">
                    <a> 국내도서 ></a>
                    <div style="display: none;">
                        <ul>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                        </ul>
                        <ul>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                        </ul>
                        <ul>
                            <li><a>국내도서</a></li>
                            <li><a>외국도서</a></li>
                            <li><a>ebook</a></li>
                        </ul>
                    </div>
                </div>

                <div class="level_catagory_cho">
                    <a> 소설 ></a>
                    <div style="display: none;">
                        <ul>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                        </ul>
                        <ul>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                            <li><a>--------</a></li>
                        </ul>
                        <ul>
                            <li><a>국내도서</a></li>
                            <li><a>외국도서</a></li>
                            <li><a>ebook</a></li>
                        </ul>
                    </div>
                </div>

                <div class="level_catagory_cho">
                    <a> 한국 소설 ></a>

                </div>


                
                <div id="serach-form" class="line" style="float: right;">
                        <form action="">
                            <input type="text" name="search">
                            <input type="submit" value="검색">
                        </form>
                </div>
            </div>
     
 
        </div>

        <div id="content_middle" style="display: flex;">
            <div class="bookView_img line">
                <img src="" alt="">
                <ul>
                    <li>크게보기</li>
                    <li>미리보기</li>
                </ul>
                <div>
                    <a href="">매장 재고 위치</a>
                </div>
            </div>
            <div class="bookView_order">
                <div>
                    <h2>출간예정 남편이 떠나요</h2>
                    <span>지은이</span>
                    <span>옮김이</span>
                    <span>출판사</span>
                    <span>출간일</span>
                    <p>리뷰점수: <span>리뷰 개수</span> <button>리뷰쓰기:</button></p>
                </div>
                <div>
                    <p>정가 : <span>16000</span>원</p>
                    <p>판매가 : <span style="font-size: 18px; color: red;">13000</span>원 <span>할인율: [ <span>10%</span> ] </span></p>
                    <p>혜텍</p>
                    <p>추가혜텍</p>
                </div>
                <div>
                    <p>배송비</p>
                    <p>예약판매</p>
                    <p>배송비</p>
                    <p>예약판매</p>
                    <p>배송비</p>
                    <p>예약판매</p>
                    <p>배송비</p>
                    <p>예약판매</p>
                    <p>배송비</p>
                    <p>예약판매</p>
                    <p>배송비</p>
                    <p>예약판매</p>
                    <p>배송비</p>
                    <p>예약판매</p>
                    <p>배송비</p>
                    <p>예약판매</p>
                    <p>배송비</p>
                    <p>예약판매</p>
                    <p>배송비</p>
                    <p>예약판매</p>
                </div>
                <div>
                    <p>알림니다</p> <p>
                         도서정보가 달라질 수 있습니다. 이 점 양해 부탁드립니다.</p>
                </div>
                
                <div>
                    <span>주문수량</span>
                    <input type="number">
                </div>
                <div>
                    <a href="">장바구니담기</a>
                    <a href="">바로구매</a>
                    <a href="">바로드림 주문</a>
                    <a href="">선물하기</a>
                    <a href="">보관함담기</a>
                </div>
                
            </div>
        </div>

        <div class="line backgroundColor" style="height: 300px;">
            이공간은 고민중
        </div>

        <div class="bookView_info" style="display: flex;">
            <div class="bookView_info_left line">
                <div class="bookView_info_left_btn line">
                    <a href="#event" name="event">이벤트</a>
                    <a href="#product">상품정보</a>
                    <a href="#review">회원리뷰</a>            
                    <a href="#storyk">스토리k</a>
                    <a href="#err">교환/반품/품절</a>
                </div>
                <div class="bookView_info_left_event">
                    <div><h2>이 책의 이벤트</h2></div>
                    <div style="display: flex;">
                        <div>
                            <img src="p.png" alt="">
                        </div>
                        <div>
                            <p>본문 내용</p>
                        </div>
                        <div>
                            <img src="p.png" alt="">
                        </div>
                        <div>
                            <p>본문 내용</p>
                        </div>
                        <div>
                            <img src="p.png" alt="">
                        </div>
                        <div>
                            <p>본문 내용</p>
                        </div>

                    </div>


                </div>
                <div class="bookView_info_left_btn line">
                    <a href="#event">이벤트</a>
                    <a href="#product" name="product">상품정보</a>
                    <a href="#review">회원리뷰</a>            
                    <a href="#storyk">스토리k</a>
                    <a href="#err">교환/반품/품절</a>
                </div>
                <div class="bookView_info_left_product">
                    <div class="" style="text-align: right; padding: 15px;">
                        <a href="" class="btn_small">문의하기</a>
                    </div>
                    <div id="table_div">
                    <table id="table_1">
                        <tr>
                            <th>ISBN</th>
                            <td>값입력</td>
                        </tr>
                        <tr>
                            <th>쪽수</th>
                            <td>값입력</td>
                        </tr>
                        <tr>
                            <th>크기</th>
                            <td>값입력</td>
                        </tr>
                        <tr>
                            <th>이책의 원서/번역서</th>
                            <td>값입력</td>
                        </tr>
                    </table>
                    <div>
                        <h2>책소개</h2>
                        <strong>이 책이 속한 분야</strong>
                        <p><span>레벨1</span> > <span>레벨2</span> ><span>레벨3</span></p>
                    </div>
                    <div class="bcontent">
                        <strong>책 부제목</strong> <br>
                        윤고은의 장편소설 『밤의 여행자들』. 문학성과 다양성, 참신성을 기치로 한국문학의 미래를 이끌어 갈 신예들의 작품을 엄선한 「오늘의 젊은 작가」의 세 번째 작품이다. 한겨레문학상, 이효석문학상을 수상하며 문단에서 뜨거운 주목을 받고 있는 저자의 두 번째 장편소설로 EBS 《라디오 연재소설》을 통해 방송된 작품이다. 독특한 상상과 놀라운 현실의 세계를 엿볼 수 있다.

                        재난으로 폐허가 된 지역을 관광하는 재난 여행 상품만을 판매하는 여행사 ‘정글’의 수석 프로그래머 고요나가 사막의 싱크홀 ‘무이’로 떠나 엄청난 프로젝트에 휘말리면서 벌어지는 이야기를 담았다. ‘무이’를 떠나 한국행 비행기를 타기 위해 공항으로 가던 중 일행에서 낙오된 요나는 일행들과 묵었던 리조트 ‘벨에포크’로 돌아가 그곳의 매니저의 부탁을 받고 퇴출 위기에 놓인 무이를 되살리기 위한 인공 재난 시나리오에 동참하게 되는데…….
                   </div>
                   <div>
                       <h2>저자소개</h2>
                       <div style="display: flex;">
                            <div>
                               <img src="pn.png" alt="">
                            </div>
                            <div>
                                <h2>저자: 000</h2>
                                <p>저자 설명</p>
                            </div>
                       </div>
                   </div>

                   <div>

                    <div class="line">
                        <h2>이작의 다른작품</h2>
                  
                    <div class="" id="today_book">
                        <div id="prev"> <button>&lt;</button></div>
                        <div id="bookpagebar">
                            <div class="today_book_form">
                               <img src="" alt="">
                               <div>
                                   <p>제목</p>
                                   <p>1</p>
                                   <p style="color: red;">18000원</p>
                               </div>
                            </div>
                            <div class="today_book_form">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>2</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>3</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>4</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form">
                                <img src="x.png" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>5</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>6</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>7</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>8</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>9</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>10</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>11</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>12</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>13</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>14</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             <div class="today_book_form on">
                                <img src="" alt="">
                                <div>
                                    <p>제목</p>
                                    <p>15</p>
                                    <p style="color: red;">18000원</p>
                                </div>
                             </div>
                             
             
                        </div> 
                        <div id="next"> <button>&gt;</button></div>
                    </div>
                 </div>
                 <div>
                    <strong>목차</strong>
                    <br>
                    1 정글 <br>
                    2 sasdas <br>
                    3 dsa정 <br>
                    4 dasdasv <br>
                    5 dasdasc <br>
                    7 dassdas <br>
                 </div>
                 <div>
                    <strong>책속으로</strong>
                    <br>
                    1 정글 <br>
                    2 sasdas <br>
                    3 dsa정 <br>
                    4 dasdasv <br>
                    5 dasdasc <br>
                    7 dassdas <br>
                 </div>
                 <div>
                    <strong>출판서 서평</strong>
                    <br>
                    1 정글 <br>
                    2 sasdas <br>
                    3 dsa정 <br>
                    4 dasdasv <br>
                    5 dasdasc <br>
                    7 dassdas <br>
                 </div>
                   </div>
                
                    </div>
                </div>
                <div class="bookView_info_left_btn line">
                    <a href="#event">이벤트</a>
                    <a href="#product">상품정보</a>
                    <a href="#review" name="review">회원리뷰</a>            
                    <a href="#storyk">스토리k</a>
                    <a href="#err">교환/반품/품절</a>
                </div>
                <div class="bookView_info_left_review">
                    <div>
                        <h2>klover리뷰 (<span>리뷰개수</span>) <span>(평점)</span> </h2>

                    </div>
                    
                    <div style="text-align: right;">
                        <a href="" class="btn_small">리뷰 쓰기</a>
                    </div>
                    <div id="review_list">
                        <div class="">
                            <p><span>아이디</span><span>등록일</span><span>점수</span></p>
                            <p>댓글 내용</p>
                        </div>
                        <div class="">
                            <p><span>아이디</span><span>등록일</span><span>점수</span></p>
                            <p>댓글 내용</p>
                        </div>
                        <div class="pagebar">페이지바</div>
                    </div>
                </div>
                <div class="bookView_info_left_btn line">
                    <a href="#event">이벤트</a>
                    <a href="#product">상품정보</a>
                    <a href="#review">회원리뷰</a>            
                    <a href="#storyk" name="storyk">스토리k</a>
                    <a href="#err">교환/반품/품절</a>
                </div>
                <div class="bookView_info_left_event">
                    스토리 k
                </div>
                <div class="bookView_info_left_btn line">
                    <a href="#event">이벤트</a>
                    <a href="#product">상품정보</a>
                    <a href="#review">회원리뷰</a>            
                    <a href="#storyk">스토리k</a>
                    <a href="#err" name="err">교환/반품/품절</a>
                </div>
                <div class="bookView_info_left_event">
                    <tbody>
                        <tr>
                            <th scope="row">반품/교환방법</th>
                            <td><strong>마이룸 &gt; 주문관리 &gt; 주문/배송내역 &gt; 주문조회 &gt; <a href="http://www.kyobobook.co.kr/myroom/orderList.laf">반품/교환신청</a> , <br>
                                <a href="http://www.kyobobook.co.kr/cscenter/qnaForm.laf?questionType=003">[1:1상담&gt;반품/교환/환불]</a> 또는 고객센터 (1544-1900)</strong><br>
                                ※ 오픈마켓, 해외배송주문, 기프트 주문시 <a href="http://www.kyobobook.co.kr/cscenter/qnaForm.laf?questionType=003">[1:1상담&gt;반품/교환/환불]</a><br>
                                &nbsp; &nbsp; 또는 고객센터 (1544-1900)</td>
                        </tr>
                        <tr>
                            <th scope="row">반품/교환가능 기간</th>
                            <td>변심반품의 경우 수령 후 7일 이내,<br> 상품의 결함 및 계약내용과 다를 경우 문제점 발견 후 30일 이내</td>
                        </tr>
                        <tr>
                            <th scope="row">반품/교환비용</th>
                            <td>변심 혹은 구매착오로 인한 반품/교환은 반송료 고객 부담</td>
                        </tr>
                        <tr>
                            <th scope="row">반품/교환 불가 사유</th>
                            <td>
                                <ul class="list_normal">
                                    <li>소비자의 책임 있는 사유로 상품 등이 손실 또는 훼손된 경우<br> (단지 확인을 위한 포장 훼손은 제외)</li>
                                    <li>소비자의 사용, 포장 개봉에 의해 상품 등의 가치가 현저히 감소한 경우<br> 예) 화장품, 식품, 가전제품(악세서리 포함) 등</li>
                                    <li>복제가 가능한 상품 등의 포장을 훼손한 경우<br> 예) 음반/DVD/비디오, 소프트웨어, 만화책, 잡지, 영상 화보집</li>
                                    <li>소비자의 요청에 따라 개별적으로 주문 제작되는 상품의 경우 ((1)해외주문도서)</li>
                                    <li>디지털 컨텐츠인 eBook, 오디오북 등을 1회 이상 다운로드를 받았을 경우</li>
                                    <li>시간의 경과에 의해 재판매가 곤란한 정도로 가치가 현저히 감소한 경우</li>
                                    <li>전자상거래 등에서의 소비자보호에 관한 법률이 정하는 소비자 청약철회 제한 내용에<br> 해당되는 경우</li>
                                </ul>
                                (1) 해외주문도서 : 이용자의 요청에 의한 개인주문상품으로 단순변심 및 착오로 인한 취소/교환/반품 시 ‘해외주문 반품/취소 수수료’ 고객 부담 (해외주문 반품/취소 수수료 : ①서양도서-판매정가의 12%, ②일본도서-판매정가의 7%를 적용)
                                
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">상품 품절</th>
                            <td>공급사(출판사) 재고 사정에 의해 품절/지연될 수 있으며, 품절 시 관련 사항에 대해서는<br> 이메일과 문자로 안내드리겠습니다.</td>
                        </tr>
                        <tr>
                            <th scope="row">소비자 피해보상<br>
                              환불지연에 따른 배상</th>
                            <td>
                                <ul class="list_normal">
                                    <li>상품의 불량에    의한 교환, A/S, 환불, 품질보증 및 피해보상 등에 관한 사항은<br> 소비자분쟁해결 기준 (공정거래위원회 고시)에 준하여 처리됨</li>
                                    <li>대금 환불 및 환불지연에 따른 배상금 지급 조건, 절차 등은 전자상거래 등에서의<br> 소비자 보호에 관한 법률에 따라 처리함</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </div>
 

            </div>
            
            <div class="bookView_info_right line">
                <div><a href=""> <img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210623_total/bn/bnA_04.jpg" alt="" style="width: 195px;"></a></div>

                <div style="height: 550px;" class="line">
                    <div>이분야의 베스트<span style="float: right;">더보기+</span></div>
                   
                    <div style="display: flex; padding: 10px 10px;">
                        <div>
                            <a><img src="http://image.kyobobook.co.kr/images/book/medium/122/m9791197037122.jpg" alt=""></a>
                        </div>
                        <div style="margin-left: 10px;">
                            <p class="btitle">안녕,소중한사람</p>
                            <p class="bcontent">작가</p>
                            <p class="bprice">19000원</p>
                        </div>
                    </div>
                    <div style="display: flex; padding: 10px 10px;">
                        <div>
                            <a><img src="http://image.kyobobook.co.kr/images/book/medium/122/m9791197037122.jpg" alt=""></a>
                        </div>
                        <div style="margin-left: 10px;">
                            <p class="btitle">안녕,소중한사람</p>
                            <p class="bcontent">작가</p>
                            <p class="bprice">19000원</p>
                        </div>
                    </div>
                    <div style="display: flex; padding: 10px 10px;">
                        <div>
                            <a><img src="http://image.kyobobook.co.kr/images/book/medium/122/m9791197037122.jpg" alt=""></a>
                        </div>
                        <div style="margin-left: 10px;">
                            <p class="btitle">안녕,소중한사람</p>
                            <p class="bcontent">작가</p>
                            <p class="bprice">19000원</p>
                        </div>
                    </div>
                    <div style="display: flex; padding: 10px 10px;">
                        <div>
                            <a><img src="http://image.kyobobook.co.kr/images/book/medium/122/m9791197037122.jpg" alt=""></a>
                        </div>
                        <div style="margin-left: 10px;">
                            <p class="btitle">안녕,소중한사람</p>
                            <p class="bcontent">작가</p>
                            <p class="bprice">19000원</p>
                        </div>
                    </div>
                </div>

                <div style="height: 550px;" class="line">
                    <div>이분야의 신간<span style="float: right;">더보기+</span></div>
                   
                    <div style="display: flex; padding: 10px 10px;">
                        <div>
                            <a><img src="http://image.kyobobook.co.kr/images/book/medium/122/m9791197037122.jpg" alt=""></a>
                        </div>
                        <div style="margin-left: 10px;">
                            <p class="btitle">안녕,소중한사람</p>
                            <p class="bcontent">작가</p>
                            <p class="bprice">19000원</p>
                        </div>
                    </div>
                    <div style="display: flex; padding: 10px 10px;">
                        <div>
                            <a><img src="http://image.kyobobook.co.kr/images/book/medium/122/m9791197037122.jpg" alt=""></a>
                        </div>
                        <div style="margin-left: 10px;">
                            <p class="btitle">안녕,소중한사람</p>
                            <p class="bcontent">작가</p>
                            <p class="bprice">19000원</p>
                        </div>
                    </div>
                    <div style="display: flex; padding: 10px 10px;">
                        <div>
                            <a><img src="http://image.kyobobook.co.kr/images/book/medium/122/m9791197037122.jpg" alt=""></a>
                        </div>
                        <div style="margin-left: 10px;">
                            <p class="btitle">안녕,소중한사람</p>
                            <p class="bcontent">작가</p>
                            <p class="bprice">19000원</p>
                        </div>
                    </div>
                    <div style="display: flex; padding: 10px 10px;">
                        <div>
                            <a><img src="http://image.kyobobook.co.kr/images/book/medium/122/m9791197037122.jpg" alt=""></a>
                        </div>
                        <div style="margin-left: 10px;">
                            <p class="btitle">안녕,소중한사람</p>
                            <p class="bcontent">작가</p>
                            <p class="bprice">19000원</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            $(".level_catagory_cho").hover((e)=>{
                $(e.target).children('div').show();
            },(e)=>{
                $(e.target).children('div').hide();
                if($(".level_catagory_cho div").not().hover()){
                    $(".level_catagory_cho div").hide();
                }
            })
        })


        $(function(){
        var length=$(".today_book_form").length;
        var pageview=length/3;
        var pagecheck=0;

        $(".today_book_form").each((i,v)=>{
            if(pageview<=i){
                $(v).addClass("on");
            }
        })
        $("#next>button").click(e=>{
            pagecheck++;
            switch(pagecheck){
                case 1 :  $(".today_book_form").addClass("on");
                $(".today_book_form").slice(5,10).removeClass("on");break;              
                case 2 : $(".today_book_form").addClass("on");
                $(".today_book_form").slice(10,15).removeClass("on"); break;                                
            }   if(pagecheck>2){
                pagecheck=0;
                $(".today_book_form").addClass("on");
                $(".today_book_form").slice(0,5).removeClass("on");
            }
        })
        $("#prev>button").click(e=>{
            pagecheck--;
            switch(pagecheck){
                case 0 : $(".today_book_form").addClass("on");
                $(".today_book_form").slice(0,5).removeClass("on");break;
                case 1 :  $(".today_book_form").addClass("on");
                $(".today_book_form").slice(5,10).removeClass("on");break;
                case 2 : $(".today_book_form").addClass("on");
                $(".today_book_form").slice(10,15).removeClass("on"); break;                     
            } if(pagecheck<0){
                pagecheck=2;
                $(".today_book_form").addClass("on");
                $(".today_book_form").slice(10,15).removeClass("on"); 
            }
        })
       
    })
    </script>
</body>
</html>