<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>level1_국내</title>
    <script src="jquery-3.6.0.min.js"></script>  
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div class="header">
    <div class="header-top">
        <ul class="header-top-info1">
        
                <li class="store-info"><a href="#">매장안내 ▼</a></li>
                
                <div>    
                    <li><a href="#">회원혜택 ▼</a></li>
                    <div class="benefit"></div>
                </div>
            </ul>
            <ul class="header-top-info2">
                <li class="login"><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">고객센터</a></li>
                <li><a href="#">주문배송</a></li>
                <li><a href="#"><img src="${path }/resources/images/baguni.svg" style="width: 24px; height: 24px;"></a>
                </li>
            </ul>
    </div>
        <div class="info">
            <ul>
                <li><a href="#">강남지원 1관 : 서울특별시 강남구 테헤란로14길 6 남도빌딩 2F, 3F, 4F, 5F, 6F</a></li>
                <li><a href="#">강남지원 2관 : 서울특별시 강남구 테헤란로10길 9 그랑프리 빌딩 4F, 5F, 7F</a></li>
                <li><a href="#">강남지원 3관 : 서울특별시 강남구 테헤란로 130 호산빌딩 5F, 6F</a></li>
                <li><a href="#">종로지원 : 서울특별시 중구 남대문로 120 대일빌딩 2F, 3F</a></li>
                <li><a href="#">당산지원 : 서울특별시 영등포구 선유동2로 57 이레빌딩 (구관) 19F, 20F</a></li>
                <li><a href="#">이태원지원 : 서울특별시 용산구 보광로 73 한국폴리텍제1대학</a></li>
            </ul>
        </div>
    
        <div class="header-mid">
            <h1 class="logo">
                <a href="#">
                    <img src="${path }/resources/images/kh문고 로고 final.png" style="width: 250px;">
                </a> 
            </h1>
            <div class="header-mid-searchBox">
                <div class="flex">
                <div class="searchBox-slideBox">
                    <div class="searchBox-slideList">
                        <div class="searchBox-slideContent">
                                <a href="#" class="fontColor"><span >책번호1</span></a>
                                <a href="#" class="fontColor"><span>책번호2</span></a>
                                <a href="#"  class="fontColor"><span>책번호3</span></a>
                                <a href="#"  class="fontColor"><span >책번호4444444444</span></a>
                        </div>   
                        <div class="searchBox-slideContent">
                                <a href="#" class="fontColor"><span class="text-deco">책번호5</span></a>
                                <a href="#" class="fontColor"><span >책번호6</span></a>
                                <a href="#" class="fontColor"><span >책번호7</span></a>
                                <a href="#" class="fontColor"><span >책번호8</span></a>
                        </div>   
                    </div>
                </div>
                <div class="slide-pagination"></div>
                <button class="searchBox-slideBtn-prev"><</button>
                <button class="searchBox-slideBtn-next">></button>
                </div>
                <div class="flex searchBox-box">
                    <div>
                        <input type="text" class="searchBox-input">
                    </div>
                    <button class="searchBox-btn" value="검색" style="background-color:white;">
                        <img src="${path }/resources/images/dotbo.png" alt="" 
                        class="dotbo" style="width:30px; height:30px;">
                    </button>
                </div>
            </div>
            <!-- 딱딱해 보이는 슬라이드  -->
            <div class="slide-box">
                <div class="slide-list">
                    <div class="slide-content">
                        <a href="#"><img src="${path }/resources/images/배너1.png" alt=""></a><span class="header-slide-explan">책은 마음의 양식.</span>                   
                    </div>
                    <div class="slide-content">
                        <a href="#"><img src="${path }/resources/images/배너2.jpg" alt=""></a>
                        <span class="header-slide-explan">양식은 언양식 불고기.</span>
                    </div>
                    <div class="slide-content">
                        <a href="#"><img src="${path }/resources/images/캔들.jpg" alt=""></a>
                                <span class="header-slide-explan">흰 배경 캔들 사세요.</span>
                    </div>
                    <div class="slide-content">
                        <a href="#"><img src="${path }/resources/images/캔들2.jpg" alt=""></a>
                                <span class="header-slide-explan">검은 배경 캔들 사세요.</span>
                    </div>
                </div>
            </div>
            <div class="flex slide-button">
                <div class="slide-pagination"></div>
                <button class="slide-button-prev"><span><</span></button>
                <button class="slide-button-next"><span>></span></button>
            </div>
        </div>
  
    <div class="header-bottom">
        <div class="header-bottom-div">
            <div style="background-color: #353f67;">
                <a href="#"><img src="${path }/resources/images/작은삼선2.png" alt="" style="
                padding-top: 10px; 
                padding-left: 10px; 
                padding-right: 10px;
                "></a>
            </div>
            <div class="header-menuBar1">
                <ul class="flex">
                    <li><a href="#">국내도서</a></li>
                    <li><a href="#">외국도서</a></li>
                    <li>
                        <a href="#"><div>eBook ▼</div></a>
                        <ul class="eBook">
                            <li><a href="#">일반도서</a></li>
                            <li><a href="#">판타지/무협</a></li>
                            <li><a href="#">로맨스</a></li>
                            <li><a href="#">코믹스</a></li>
                            <li><a href="#">오디오북</a></li>
                        </ul>
                    </li>
                    <li><a href="#">기프트 ▼</a></li>
                    <li><a href="#">중고장터</a></li>
                </ul>
            </div>
            <div class="header-menuBar2">
                <ul class="flex">
                    <li><a href="#">베스트</a></li>
                    <li><a href="#">신상품</a></li>
                </ul>
            </div>
            <div></div>
        </div>
    </div>
</div>




<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



 
   <div class="wrap">
    <div id="container" class="line">
        <div id="main_snb" class="line">
            <div class="leftlongbanner" style="background-image: url('../sellpart/selllevel1/sellpartlong4.png">
            <h2 ><a href="#"><img src="../sellpart/selllevel1/sellpartsmalllogo.png" style="width: 168px; margin-top: 5px;"></a></h2>
            
            <ul class="main_ul">     
                <li class="main_sub_title" >
                     <a href="#" class="atag" >아동 도서</a>
                    <ul style="display: none;" class="layer">
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                    </ul>
                </li> 
                <li class="main_sub_title">
                    <a href="#" class="atag" >초등 도서</a>
                    <ul style="display: none;" class="layer">
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                    </ul>
                </li> 
                <li class="main_sub_title" >
                    <a href="#" class="atag" >중등 도서</a>
                    <ul style="display: none;" class="layer">
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                    </ul>
                </li> 
           
            </ul>
        </div>
        </div>

        <div id="main_content" class="line">

            <div class="content line" style="margin: 0px;">
                <div style="overflow: hidden; position: relative;" >
                    <div id="banner_container">
                        <a href="#"><img src="../sellpart/selllevel1/sellmain/1300add.png" alt=""></a>
                        <a href="#"><img src="../sellpart/selllevel1/sellmain/1300add2.png" alt=""></a>
                        <a href="#"><img src="../sellpart/selllevel1/sellmain/sell1300add1.png" alt=""></a>
                        <a href="#"><img src="../sellpart/selllevel1/sellmain/1300add3.png" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210707_dagger/bnL_w01_f6c1c1.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210705_follow/bnE_w01_a1ddc0.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/banner/210629/bnO_w01_eeecdf6.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210707_dagger/bnL_w01_f6c1c1.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210705_follow/bnE_w01_a1ddc0.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/banner/210629/bnO_w01_eeecdf6.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210707_dagger/bnL_w01_f6c1c1.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210705_follow/bnE_w01_a1ddc0.jpg" alt=""></a>
                    </div>
                    <div id="banner_btn">
                        <button id="prev" style="margin: 0px;">&lt;</button>
                        <button id="next">></button>
                    </div>
                </div>
                 <div class="banner_cho_box" style="margin-left: 100px;">
                    <ul>
                        <li>
                            <a class="banner_cho_hover">어린이/학습</a>
                            <ul class="banner_cho_box2">
                                <li><a class="banner_cho_hover">안녕~</a></li>
                                <li><a class="banner_cho_hover">안녕~</a></li>
                            </ul>
                        </li>

                        <li><a class="banner_cho_hover">문학/실습</a>
                            <ul class="banner_cho_box2">
                                <li><a class="banner_cho_hover">안녕~</a></li>
                                <li><a class="banner_cho_hover">안녕~</a></li>
                            </ul>
                        </li>
                        <li><a class="banner_cho_hover">인문/교양</a>
                            <ul class="banner_cho_box2">
                                <li><a class="banner_cho_hover">안녕~</a></li>
                                <li><a class="banner_cho_hover">안녕~</a></li>
                            </ul>
                        </li>
                        <!-- <li><a class="banner_cho_hover">버즈/수혐</a>
                            <ul class="banner_cho_box2">
                                <li><a class="banner_cho_hover">안녕~</a></li>
                                <li><a class="banner_cho_hover">안녕~</a></li>
                            </ul>
                        </li> -->
                    </ul>

                 </div>    
            </div>
            <div class="lev1add" style="margin-top: 40px;" id="content_ad_banner">
                <div class="line"><img src="../sellpart/selllevel1/lev1add.png" alt=""></div>
                <div class="line"><img src="../sellpart/selllevel1/lev1add.png" alt=""></div>
                <div class="line"><img src="../sellpart/selllevel1/lev1add.png" alt=""></div>
            </div>
            <div class="content">
                <div class="content-title"> 
                    <a href="#" class="contenttitle">오늘의 책</a><span class="moreview">더보기 +</span> 
                </div>
                <div class="line" id="today_book">
                    <div id="prev"> <button>&lt;</button></div>
                    <div id="bookpagebar">
                        <div class="today_book_form">
                           <img src="" alt="">
                           <div>
                               <p>제목</p>
                               <p>1</p>
                               <p style="color: red;">18000원</p>
                           </div>
                        </div>
                        <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>2</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>3</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>4</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="x.png" alt="">
                            <div>
                                <p>제목</p>
                                <p>5</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>6</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>7</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>8</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>9</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>10</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>11</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>12</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>13</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>14</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>15</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         
         
                    </div> 
                    <div id="next"> <button>></button></div>
                </div>
               

            </div>
            <div class="content line" style="margin-top: 70px; height: 230px;">
                <div class="content-title"> 
                    <a href="#" class="contenttitle">이벤트</a><span class="moreview">더보기 +</span> 
                </div>
                <div class="content-body" style="margin-top: 20px;">
                   <div style="width: 500px; height: 150px;" id="content_body_event" class="line content-todaybook">
                        <ul>
                            <li><a href=""><strong>21-08-23</strong> 곰문책방 오픈기념 이벤트!!</a></li>
                            <li><a href=""><strong style="color: red;">[상시]</strong> <strong>BlackFriday</strong> 도서할인!</a></li>
                            <li><a href=""><strong>[9월30일까지]</strong>&nbsp;무료 등급 업그레이드 이벤트!</a></li>
                        </ul>
                    </div>
                    <div style="width: 200px; height: 150px;"
                    class="line">
                        AD
                    <img src="../sellpart/selllevel1/lev1add2.png" alt="">    
                    </div>
                </div>
            </div>
            <!--hover시 ajax 사용해서 데이터 보내기 4개씩-->
            <div class="content line"> 
                <div class="content_body2">
                   <div class="content_body2_left line">
                     <a href="#" class="contenttitle">새로나온 책</a><a>아동 도서</a><a>초등 도서</a><a>중등 도서</a>
                     <span class="moreview">더보기 +</span>
                     <div class="content_body2_book line">
                         <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>                 
             
                     </div>
                     </div>
                   <div class="content_body2_right">
                       <img src="../sellpart/selllevel1/uncleadd.png" alt="">
                   </div>
                </div>
            </div>

            <!--hover시 ajax 사용해서 데이터 보내기 4개씩-->
            <div class="content line"> 
                <div class="content_body2">
                   <div class="content_body2_left line">
                    <a href="#" class="contenttitle">예약판매</a><span class="moreview">더보기 +</span> 
                     <div class="content_body2_book line">
                         <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>                 
             
                     </div>
                     </div>
                     <div class="content_body2_right2">        
                        <a href="#" class="contenttitle">할인 도서</a>
                         <span id="rightclick2">></span>
                         <span class="max_book2">1</span>
                         <span>/</span>
                         <span class="number_book2">1</span>
                         <span id="leftclick2">&lt;</span>
                        <div class="content_body2_right_content2">
                             <div>
                                 <img src="p.png" alt="">
                             </div>
                             <strong class="btitle">책1번 제목 넣기</strong>
                             <div class="bprice">13000</div>
                             <div class="bpricesale">11000</div>

                        </div>
                        <div class="content_body2_right_content2">
                         <div>
                             <img src="p.png" alt="">
                         </div>
                         <strong class="btitle">책2번 제목 넣기</strong>
                         <div class="bprice">13000</div>
                         <div class="bpricesale">11000</div>

                         </div>
                         <div class="content_body2_right_content2">
                             <div>
                                 <img src="p.png" alt="">
                             </div>
                             <strong class="btitle">책3번 제목 넣기</strong>
                             <div class="bprice">13000</div>
                             <div class="bpricesale">11000</div>
 
                             </div>
                   
                </div>


                </div>
            </div>

            <div class="content line"> 
                <div class="content_body2">
                   <div class="content_body2_left line">
                    <a href="#" class="contenttitle">베스트 셀러</a><span class="moreview">더보기 +</span>
                     <div class="content_body2_book line">
                         <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>                 
             
                     </div>
                     </div>
                     <div class="content_body2_right">        
                        <a>쿠폰 소개</a>
                         <span id="rightclick">></span>
                         <span class="max_book">1</span>
                         <span>/</span>
                         <span class="number_book">1</span>
                         <span id="leftclick">&lt;</span>
                        <div class="content_body2_right_content">
                             <div>
                                 <img src="../sellpart/selllevel1/addgrade/addplatinum.png" alt="">
                             </div>
                             <strong class="btitle">곰문이 플래티넘!!</strong>
                             <div class="bprice">13000</div>
                             <div class="bpricesale">11000</div>

                        </div>
                        <div class="content_body2_right_content">
                         <div>
                             <img src="../sellpart/selllevel1/addgrade/addgold.png" alt="">
                         </div>
                         <strong class="btitle">곰문이 골드!</strong>
                         <div class="bprice">13000</div>
                         <div class="bpricesale">11000</div>

                         </div>
                         <div class="content_body2_right_content">
                             <div>
                                 <img src="../sellpart/selllevel1/addgrade/addsilver.png" alt="">
                             </div>
                             <strong class="btitle">곰문이 실버</strong>
                             <div class="bprice">13000</div>
                             <div class="bpricesale">11000</div>
 
                         </div>
                         <div class="content_body2_right_content">
                             <div>
                                 <img src="../sellpart/selllevel1/addgrade/addbronze.png" alt="">
                             </div>
                             <strong class="btitle">브론즈</strong>
                             <div class="bprice">13000</div>
                             <div class="bpricesale">11000</div>
 
                         </div>
                         <div class="content_body2_right_content">
                             <div>
                                 <img src="../sellpart/selllevel1/addgrade/addddong.png" alt="">
                             </div>
                             <strong class="btitle">ㅇㅇ;</strong>
                             <div class="bprice">13000</div>
                             <div class="bpricesale">11000</div>
 
                         </div>
                </div>
                </div>
            </div>



             <!-- <div class=""> 
                <div class="">
                   <div class="content_body2_event line">
                    <div class="content-title"> 
                        <a href="#" class="contenttitle">이벤트(게시판으로만들기)</a><span class="moreview">더보기 +</span> 
                    </div>
                    <div class="body_2_event_img"> 
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                    </div>
                     </div>
       
                </div>
            </div> -->
        </div>
    </div>
</div>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
     -->

<script>

    let atag1=$(".main_ul")[0].children[0];
    let atag2=$(".main_ul")[0].children[1];
    let atag3=$(".main_ul")[0].children[2];
    console.log("바람이 분다");
    console.log(atag1.children[0]);
    console.log(atag2);
    console.log(atag3);

    $(atag1.children[0]).hover((e)=>{
        $(e.target).css({"background-color":"#582810","color":"white"});
        
    },(e)=>{
        $(e.target).css({"background-color":"white","color":"#582810"});
       
    });
    $(atag2.children[0]).hover((e)=>{
        $(e.target).css({"background-color":"#582810","color":"white"});
        
    },(e)=>{
        $(e.target).css({"background-color":"white","color":"#582810"});
       
    });
    $(atag3.children[0]).hover((e)=>{
        $(e.target).css({"background-color":"#582810","color":"white"});
        
    },(e)=>{
        $(e.target).css({"background-color":"white","color":"#582810"});
       
    });



    //좌측 내비바 show / hide 

    $(".main_sub_title").hover((e)=>{
        $(e.target).next('ul').show();
    },(e)=>{
        $(e.target).next('ul').hide();
        if($(".layer").not().hover()){
            $(".layer").hide();
        }
    });


    //배너바 선택 show / hide

    let chobox=$(".banner_cho_box")[0].children[0];
    let choboxinner=$(".banner_cho_box")[0].children[0].children;
    console.log("초박스를보자");
    console.log(choboxinner);

    $(chobox).hover((e)=>{
        $(e.target).next('ul').show();
    },(e)=>{
        $(e.target).next('ul').hide(); 
        if($(".banner_cho_box2").not().hover()){
            $(".banner_cho_box2").hide();
        } 
    })


     //배너 슬라이드 
    $(function(){
        const banner = $("#banner_container");
        console.log($("#banner_container").outerWidth());
        const bannerWidth = $("#banner_container").children(0).outerWidth();
        const bannerHeight = $("#banner_container").children(0).outerHeight();
        const bannerlength = $("#banner_container").children("a").length;
        console.log(bannerHeight+'안녕'+bannerWidth+"개수"+bannerlength)
        var movingwidth=0;
        var bannercount=0;
        $("#prev").click(e=>{
           bannercount--; 
           console.log(bannercount)
            if(bannercount<=0){
                bannercount=bannerlength;
                
                movingwidth=(bannerlength-1)*bannerWidth;
                console.log(movingwidth)
                banner.animate({
                    right:movingwidth
                },1000)               
            }else{
            movingwidth=movingwidth-bannerWidth;
            banner.animate({
                right:movingwidth}, 1000
                );
             }
        });

        $("#next").click(e=>{
            bannercount++; 
            console.log(bannercount)
            if(bannercount>=bannerlength){
                bannercount=0;
                movingwidth=0;
                console.log(movingwidth)
                banner.animate({
                    right:movingwidth
                },1000)
            }else{
            movingwidth=movingwidth+bannerWidth;
            banner.animate({
                right:movingwidth}, 1000
                );  
            }
        });
        $(".banner_cho_hover").eq(0).hover(e=>{ banner.css({ right:bannerWidth*0})})
        $(".banner_cho_hover").eq(1).hover(e=>{ banner.css({ right:bannerWidth*1})})
        $(".banner_cho_hover").eq(2).hover(e=>{ banner.css({ right:bannerWidth*2})})
        $(".banner_cho_hover").eq(3).hover(e=>{ banner.css({ right:bannerWidth*3})})
        $(".banner_cho_hover").eq(4).hover(e=>{ banner.css({ right:bannerWidth*4})})
        $(".banner_cho_hover").eq(5).hover(e=>{ banner.css({ right:bannerWidth*5})})
        $(".banner_cho_hover").eq(6).hover(e=>{ banner.css({ right:bannerWidth*6})})
        $(".banner_cho_hover").eq(7).hover(e=>{ banner.css({ right:bannerWidth*7})})
        $(".banner_cho_hover").eq(8).hover(e=>{ banner.css({ right:bannerWidth*8})})
        $(".banner_cho_hover").eq(9).hover(e=>{ banner.css({ right:bannerWidth*9})})
        $(".banner_cho_hover").eq(10).hover(e=>{ banner.css({ right:bannerWidth*10})})
        $(".banner_cho_hover").eq(11).hover(e=>{ banner.css({ right:bannerWidth*11})})
    });

    //오늘의 책 슬라이드 적용
    $(function(){
        var length=$(".today_book_form").length;
        var pageview=length/3;
        var pagecheck=0;

        $(".today_book_form").each((i,v)=>{
            if(pageview<=i){
                $(v).addClass("on");
            }
        })
        $("#next>button").click(e=>{
            pagecheck++;
            switch(pagecheck){
                case 1 :  $(".today_book_form").addClass("on");
                $(".today_book_form").slice(5,10).removeClass("on");break;              
                case 2 : $(".today_book_form").addClass("on");
                $(".today_book_form").slice(10,15).removeClass("on"); break;                                
            }   if(pagecheck>2){
                pagecheck=0;
                $(".today_book_form").addClass("on");
                $(".today_book_form").slice(0,5).removeClass("on");
            }
        })
        $("#prev>button").click(e=>{
            pagecheck--;
            switch(pagecheck){
                case 0 : $(".today_book_form").addClass("on");
                $(".today_book_form").slice(0,5).removeClass("on");break;
                case 1 :  $(".today_book_form").addClass("on");
                $(".today_book_form").slice(5,10).removeClass("on");break;
                case 2 : $(".today_book_form").addClass("on");
                $(".today_book_form").slice(10,15).removeClass("on"); break;                     
            } if(pagecheck<0){
                pagecheck=2;
                $(".today_book_form").addClass("on");
                $(".today_book_form").slice(10,15).removeClass("on"); 
            }
        })
       
    })
    //이벤트 이동 버튼 
    $(function(){
                const rightcontentimg=$(".content_body2_right_content");
                const imglength=$(".content_body2_right_content").length;
                let imgnum=1;
                $(".max_book").text(imglength);
                   function number_target(imgnum){
                    rightcontentimg.css("display","none");                       
                    rightcontentimg.eq(imgnum-1).css("display","block")
                    $(".number_book").text(imgnum);
            }
                $("#leftclick").click(e=>{
                    imgnum--;
                    number_target(imgnum);
                    console.log(imgnum)
                    if(imgnum<1){
                        imgnum=imglength;
                        number_target(imgnum);
                    }
                })
                $("#rightclick").click(e=>{
                    imgnum++ 
                    number_target(imgnum);
                    if(imgnum>$(".max_book").text()){
                        imgnum=1;
                        number_target(imgnum);
                    }
                })
        })

        $(function(){
                const rightcontentimg=$(".content_body2_right_content2");
                const imglength=$(".content_body2_right_content2").length;
                let imgnum=1;
                $(".max_book2").text(imglength);
            function number_target(imgnum){
                    rightcontentimg.css("display","none");                       
                    rightcontentimg.eq(imgnum-1).css("display","block")
                    $(".number_book2").text(imgnum);
            }
                $("#leftclick2").click(e=>{
                    imgnum--;
                    number_target(imgnum);
                    console.log(imgnum)
                    if(imgnum<1){
                        imgnum=imglength;
                        number_target(imgnum);
                    }
                })
                $("#rightclick2").click(e=>{
                    imgnum++ 
                    number_target(imgnum);
                    if(imgnum>$(".max_book2").text()){
                        imgnum=1;
                        number_target(imgnum);
                    }
                })
        })
</script>

    
</body>
</html>
