<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>level1_국내</title>
    <script src="jquery-3.6.0.min.js"></script>  
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
   
    <div id="container" class="line">
        <div id="main_snb" class="line">
            <h2><a href="#">도서</a></h2>
            <ul>     
                <li class="main_sub_title">
                     <a href="#">아동도서</a>
                    <ul style="display: none;" class="layer">
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                    </ul>
                </li> 
                <li class="main_sub_title">
                    <a href="#">초등 도서(저학년)</a>
                    <ul style="display: none;" class="layer">
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                    </ul>
                </li> 
                <li class="main_sub_title">
                    <a href="#">초등 도서(고학년)</a>
                    <ul style="display: none;" class="layer">
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                    </ul>
                </li>
                <li class="main_sub_title">
                    <a href="#">중등도서</a>
                    <ul style="display: none;" class="layer">
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                        <li><a href="#">한국소설</a></li>
                    </ul>
                </li> 
           
            </ul>
        </div>

        <div id="main_content" class="line">

            <div class="content line" style="margin: 0px;">
                <div style="overflow: hidden; position: relative;">
                    <div id="banner_container">
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/banner/210629/bnO_w01_eeecdf6.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210707_dagger/bnL_w01_f6c1c1.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210705_follow/bnE_w01_a1ddc0.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/banner/210629/bnO_w01_eeecdf6.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210707_dagger/bnL_w01_f6c1c1.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210705_follow/bnE_w01_a1ddc0.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/banner/210629/bnO_w01_eeecdf6.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210707_dagger/bnL_w01_f6c1c1.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210705_follow/bnE_w01_a1ddc0.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/banner/210629/bnO_w01_eeecdf6.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210707_dagger/bnL_w01_f6c1c1.jpg" alt=""></a>
                        <a href="#"><img src="http://image.kyobobook.co.kr//ink/images/prom/2021/book/210705_follow/bnE_w01_a1ddc0.jpg" alt=""></a>
                    </div>
                    <div id="banner_btn">
                        <button id="prev" style="margin: 0px;">&lt;</button>
                        <button id="next">></button>
                    </div>
                </div>
                 <div class="banner_cho_box">
                    <ul>
                        <li>
                            <a class="banner_cho_hover">어린이/학습</a>
                            <ul class="banner_cho_box2">
                                <li><a class="banner_cho_hover">안녕~</a></li>
                                <li><a class="banner_cho_hover">안녕~</a></li>
                            </ul>
                        </li>

                        <li><a class="banner_cho_hover">문학/실습</a>
                            <ul class="banner_cho_box2">
                                <li><a class="banner_cho_hover">안녕~</a></li>
                                <li><a class="banner_cho_hover">안녕~</a></li>
                            </ul>
                        </li>
                        <li><a class="banner_cho_hover">인문/교양</a>
                            <ul class="banner_cho_box2">
                                <li><a class="banner_cho_hover">안녕~</a></li>
                                <li><a class="banner_cho_hover">안녕~</a></li>
                            </ul>
                        </li>
                        <li><a class="banner_cho_hover">버즈/수혐</a>
                            <ul class="banner_cho_box2">
                                <li><a class="banner_cho_hover">안녕~</a></li>
                                <li><a class="banner_cho_hover">안녕~</a></li>
                            </ul>
                        </li>
                    </ul>

                 </div>    
            </div>
            <div class="" style="margin-top: 40px;" id="content_ad_banner">
                <div class="line"><img src="http://image.kyobobook.co.kr/newimages/adcenter/IMAC/creatives/2021/06/25/70310/210682_diet_KYOBO_PC_domemain.jpg" alt=""></div>
                <div class="line"><img src="http://image.kyobobook.co.kr/newimages/adcenter/IMAC/creatives/2021/06/25/70310/210682_diet_KYOBO_PC_domemain.jpg" alt=""></div>
                <div class="line"><img src="http://image.kyobobook.co.kr/newimages/adcenter/IMAC/creatives/2021/06/25/70310/210682_diet_KYOBO_PC_domemain.jpg" alt=""></div>
            </div>
            <div class="content">
                <div class="content-title"> 
                    <a href="#" class="contenttitle">오늘의 책</a><span class="moreview">더보기 +</span> 
                </div>
                <div class="line" id="today_book">
                    <div id="prev"> <button>&lt;</button></div>
                    <div id="bookpagebar">
                        <div class="today_book_form">
                           <img src="" alt="">
                           <div>
                               <p>제목</p>
                               <p>1</p>
                               <p style="color: red;">18000원</p>
                           </div>
                        </div>
                        <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>2</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>3</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>4</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="x.png" alt="">
                            <div>
                                <p>제목</p>
                                <p>5</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>6</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>7</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>8</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>9</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>10</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>11</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>12</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>13</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>14</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         <div class="today_book_form">
                            <img src="" alt="">
                            <div>
                                <p>제목</p>
                                <p>15</p>
                                <p style="color: red;">18000원</p>
                            </div>
                         </div>
                         
         
                    </div> 
                    <div id="next"> <button>></button></div>
                </div>
               

            </div>
            <div class="content line" style="margin-top: 70px; height: 230px;">
                <div class="content-title"> 
                    <a href="#" class="contenttitle">오늘의 책</a><span class="moreview">더보기 +</span> 
                </div>
                <div class="content-body" style="margin-top: 20px;">
                   <div style="width: 500px; height: 150px;" id="content_body_event" class="line">
                        <ul>
                            <li><a href="">이벤트 내용 적기~</a></li>
                            <li><a href="">이벤트 내용 적기~</a></li>
                            <li><a href="">이벤트 내용 적기~</a></li>
                        </ul>
                    </div>
                    <div style="width: 200px; height: 150px;"
                    class="line">
                        AD
                    <img src="" alt="">    
                    </div>
                </div>
            </div>
            <!--hover시 ajax 사용해서 데이터 보내기 4개씩-->
            <div class="content line"> 
                <div class="content_body2">
                   <div class="content_body2_left line">
                     <a href="#" class="contenttitle">새로나온 책</a><a>문학/인문</a><a>경제/교양</a><a>유야용/실습</a><a>유야용</a>
                     <span class="moreview">더보기 +</span>
                     <div class="content_body2_book line">
                         <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>                 
             
                     </div>
                     </div>
                   <div class="content_body2_right">
                       <img src="x.png" alt="">
                   </div>
                </div>
            </div>

            <!--hover시 ajax 사용해서 데이터 보내기 4개씩-->
            <div class="content line"> 
                <div class="content_body2">
                   <div class="content_body2_left line">
                    <a href="#" class="contenttitle">예약판매</a><span class="moreview">더보기 +</span> 
                     <div class="content_body2_book line">
                         <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>                 
             
                     </div>
                     </div>
                   <div class="content_body2_right">        
                           <a>정기적 구독권</a>
                            <span id="rightclick">></span>
                            <span class="max_book">1</span>
                            <span>/</span>
                            <span class="number_book">1</span>
                            <span id="leftclick">&lt;</span>
                           <div class="content_body2_right_content">
                                <div>
                                    <img src="p.png" alt="">
                                </div>
                                <strong class="btitle">책1번 제목 넣기</strong>
                                <div class="bprice">13000</div>
                                <div class="bpricesale">11000</div>

                           </div>
                           <div class="content_body2_right_content">
                            <div>
                                <img src="p.png" alt="">
                            </div>
                            <strong class="btitle">책2번 제목 넣기</strong>
                            <div class="bprice">13000</div>
                            <div class="bpricesale">11000</div>

                            </div>
                            <div class="content_body2_right_content">
                                <div>
                                    <img src="p.png" alt="">
                                </div>
                                <strong class="btitle">책3번 제목 넣기</strong>
                                <div class="bprice">13000</div>
                                <div class="bpricesale">11000</div>
    
                                </div>
                      
                   </div>

                </div>
            </div>

            <div class="content line"> 
                <div class="content_body2">
                   <div class="content_body2_left line">
                    <a href="#" class="contenttitle">베스트 셀러</a><span class="moreview">더보기 +</span>
                     <div class="content_body2_book line">
                         <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>
                        <div>
                            <img src="http://image.kyobobook.co.kr/images/book/large/470/l9788937444470.jpg" alt="">
                            <div class="bcategory">[category]</div>
                            <strong class="btitle">책 제목 넣기</strong>
                            <div class="bcontent">책 내용 20자 </div>
                            <div class="bprice">700원</div>      
                        </div>                 
             
                     </div>
                     </div>
                     <div class="content_body2_right2">        
                        <a href="#" class="contenttitle">이벤트</a>
                         <span id="rightclick2">></span>
                         <span class="max_book2">1</span>
                         <span>/</span>
                         <span class="number_book2">1</span>
                         <span id="leftclick2">&lt;</span>
                        <div class="content_body2_right_content2">
                             <div>
                                 <img src="p.png" alt="">
                             </div>
                             <strong class="btitle">책1번 제목 넣기</strong>
                             <div class="bprice">13000</div>
                             <div class="bpricesale">11000</div>

                        </div>
                        <div class="content_body2_right_content2">
                         <div>
                             <img src="p.png" alt="">
                         </div>
                         <strong class="btitle">책2번 제목 넣기</strong>
                         <div class="bprice">13000</div>
                         <div class="bpricesale">11000</div>

                         </div>
                         <div class="content_body2_right_content2">
                             <div>
                                 <img src="p.png" alt="">
                             </div>
                             <strong class="btitle">책3번 제목 넣기</strong>
                             <div class="bprice">13000</div>
                             <div class="bpricesale">11000</div>
 
                             </div>
                   
                </div>
                </div>
            </div>



            <div class=""> 
                <div class="">
                   <div class="content_body2_event line">
                    <div class="content-title"> 
                        <a href="#" class="contenttitle">이벤트</a><span class="moreview">더보기 +</span> 
                    </div>
                    <div class="body_2_event_img">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                        <img src="p.xng" alt="">
                    </div>
                     </div>
       
                </div>
            </div>
        </div>
    </div>


    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////
     -->

<script>
    //좌측 내비바 show / hide 
    $(".main_sub_title").hover((e)=>{
        $(e.target).next('ul').show();
    },(e)=>{
        $(e.target).next('ul').hide();
        if($(".layer").not().hover()){
            $(".layer").hide();
        }
    });
    //배너바 선택 show / hide
    $(".banner_cho_box ul").hover((e)=>{
        $(e.target).next('ul').show();
    },(e)=>{
        $(e.target).next('ul').hide(); 
        if($(".banner_cho_box2").not().hover()){
            $(".banner_cho_box2").hide();
        } 
    })


     //배너 슬라이드 
    $(function(){
        const banner = $("#banner_container");
        console.log($("#banner_container").outerWidth());
        const bannerWidth = $("#banner_container").children(0).outerWidth();
        const bannerHeight = $("#banner_container").children(0).outerHeight();
        const bannerlength = $("#banner_container").children("a").length;
        console.log(bannerHeight+'안녕'+bannerWidth+"개수"+bannerlength)
        var movingwidth=0;
        var bannercount=0;
        $("#prev").click(e=>{
           bannercount--; 
           console.log(bannercount)
            if(bannercount<=0){
                bannercount=bannerlength;
                
                movingwidth=(bannerlength-1)*bannerWidth;
                console.log(movingwidth)
                banner.animate({
                    right:movingwidth
                },1000)               
            }else{
            movingwidth=movingwidth-bannerWidth;
            banner.animate({
                right:movingwidth}, 1000
                );
             }
        });

        $("#next").click(e=>{
            bannercount++; 
            console.log(bannercount)
            if(bannercount>=bannerlength){
                bannercount=0;
                movingwidth=0;
                console.log(movingwidth)
                banner.animate({
                    right:movingwidth
                },1000)
            }else{
            movingwidth=movingwidth+bannerWidth;
            banner.animate({
                right:movingwidth}, 1000
                );  
            }
        });
        $(".banner_cho_hover").eq(0).hover(e=>{ banner.css({ right:bannerWidth*0})})
        $(".banner_cho_hover").eq(1).hover(e=>{ banner.css({ right:bannerWidth*1})})
        $(".banner_cho_hover").eq(2).hover(e=>{ banner.css({ right:bannerWidth*2})})
        $(".banner_cho_hover").eq(3).hover(e=>{ banner.css({ right:bannerWidth*3})})
        $(".banner_cho_hover").eq(4).hover(e=>{ banner.css({ right:bannerWidth*4})})
        $(".banner_cho_hover").eq(5).hover(e=>{ banner.css({ right:bannerWidth*5})})
        $(".banner_cho_hover").eq(6).hover(e=>{ banner.css({ right:bannerWidth*6})})
        $(".banner_cho_hover").eq(7).hover(e=>{ banner.css({ right:bannerWidth*7})})
        $(".banner_cho_hover").eq(8).hover(e=>{ banner.css({ right:bannerWidth*8})})
        $(".banner_cho_hover").eq(9).hover(e=>{ banner.css({ right:bannerWidth*9})})
        $(".banner_cho_hover").eq(10).hover(e=>{ banner.css({ right:bannerWidth*10})})
        $(".banner_cho_hover").eq(11).hover(e=>{ banner.css({ right:bannerWidth*11})})
    });

    //오늘의 책 슬라이드 적용
    $(function(){
        var length=$(".today_book_form").length;
        var pageview=length/3;
        var pagecheck=0;

        $(".today_book_form").each((i,v)=>{
            if(pageview<=i){
                $(v).addClass("on");
            }
        })
        $("#next>button").click(e=>{
            pagecheck++;
            switch(pagecheck){
                case 1 :  $(".today_book_form").addClass("on");
                $(".today_book_form").slice(5,10).removeClass("on");break;              
                case 2 : $(".today_book_form").addClass("on");
                $(".today_book_form").slice(10,15).removeClass("on"); break;                                
            }   if(pagecheck>2){
                pagecheck=0;
                $(".today_book_form").addClass("on");
                $(".today_book_form").slice(0,5).removeClass("on");
            }
        })
        $("#prev>button").click(e=>{
            pagecheck--;
            switch(pagecheck){
                case 0 : $(".today_book_form").addClass("on");
                $(".today_book_form").slice(0,5).removeClass("on");break;
                case 1 :  $(".today_book_form").addClass("on");
                $(".today_book_form").slice(5,10).removeClass("on");break;
                case 2 : $(".today_book_form").addClass("on");
                $(".today_book_form").slice(10,15).removeClass("on"); break;                     
            } if(pagecheck<0){
                pagecheck=2;
                $(".today_book_form").addClass("on");
                $(".today_book_form").slice(10,15).removeClass("on"); 
            }
        })
       
    })
    //이벤트 이동 버튼 
    $(function(){
                const rightcontentimg=$(".content_body2_right_content");
                const imglength=$(".content_body2_right_content").length;
                let imgnum=1;
                $(".max_book").text(imglength);
                   function number_target(imgnum){
                    rightcontentimg.css("display","none");                       
                    rightcontentimg.eq(imgnum-1).css("display","block")
                    $(".number_book").text(imgnum);
            }
                $("#leftclick").click(e=>{
                    imgnum--;
                    number_target(imgnum);
                    console.log(imgnum)
                    if(imgnum<1){
                        imgnum=imglength;
                        number_target(imgnum);
                    }
                })
                $("#rightclick").click(e=>{
                    imgnum++ 
                    number_target(imgnum);
                    if(imgnum>$(".max_book").text()){
                        imgnum=1;
                        number_target(imgnum);
                    }
                })
        })

        $(function(){
                const rightcontentimg=$(".content_body2_right_content2");
                const imglength=$(".content_body2_right_content2").length;
                let imgnum=1;
                $(".max_book2").text(imglength);
            function number_target(imgnum){
                    rightcontentimg.css("display","none");                       
                    rightcontentimg.eq(imgnum-1).css("display","block")
                    $(".number_book2").text(imgnum);
            }
                $("#leftclick2").click(e=>{
                    imgnum--;
                    number_target(imgnum);
                    console.log(imgnum)
                    if(imgnum<1){
                        imgnum=imglength;
                        number_target(imgnum);
                    }
                })
                $("#rightclick2").click(e=>{
                    imgnum++ 
                    number_target(imgnum);
                    if(imgnum>$(".max_book2").text()){
                        imgnum=1;
                        number_target(imgnum);
                    }
                })
        })
</script>

    
</body>
</html>
