@charset "UTF-8";

@charset "UTF-8";
.enrollchoice3{
	width:350px;
	height:70px;
	font-size: 28px;
	line-height: 78px;
	border: 1px solid #582810;
	color: #582810;
	background-color: #fff;
	cursor:pointer;
	margin-top:15px;
	margin-bottom:15px;
}
.enroll-manualBox4{
	display: flex;
	text-align:center;
	align-items:center;
}
.manual-check{
	font-weight:bold;
}
.enrollchoice3:hover{
	color:#fff;
	background-color:#582810;
}

.manual-title3{
	font-size:40px;
	color:#582810;
	font-weight:bold;
	margin-top:30px;
	
}
.enrollAgreeTitle hr{
	margin-bottom:30px;
	width:900px;
}
.enrollAgreeTitle{
	text-align:center;
}
.enrollAgree-manual{
	display: flex;
    justify-content: center;
    flex-direction: column;
	width:100%;
	align-items:center;
}
.manual-title1{
	color:#582810;
	font-weight:bold;
}
.enroll-manualBox{
	width:900px;
	border: 1px solid #582810;
	
}
.enroll-manualBox2{
	width:897px;
	border: 1px solid #582810;
	overflow:scroll;
	height:300px;
	
}
.enroll-manualBox3{
	width:897px;
	border: 1px solid #582810;
	overflow:scroll;
	height:150px;
}
.manual-title2{
	color:#582810;
}
.enroll-okBox{
	text-align:center;
}