@charset "UTF-8";
.loginPage-container{
	display: flex;
    justify-content: center;
    flex-direction: column;
	width:100%; 
	min-width:950px;
	align-items:center;
	height:700px;
}

.login-box{
	margin-top:50px;
	
}
.logintext3-sub1 img{
	width:166px;
	height: 140px;
}
.logintext3-sub2{
	vertical-align: middle; 
}
.logintext3-font{
	font-size: 17px;
    font-weight: 900;
    padding-left:20px;
    color:#582810; 
    padding-top:40px;
}
.loginP1{
	padding-top:15px;
	font-size: 30px;
	font-weight: 900;
    color: #582810; 
}
.loginP3{
	font-size: 15px;
	font-weight: 900;
	color:#582810;
	margin-top:20px;
}
.loginP2{
	font-size: 15px;
	font-weight: 900;
	color:#008080;
}

.loginWelcome{
	box-sizing: border-box;
	border: 2px solid #582810;
	width:699px;
	text-align: center;
	height:100px;
}
.sleepingUser{
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	vertical-align:middle;
	text-align:center;
	height: 66px;
   background: #fcfcfc;
    border: 1px solid #eeeeee;
}
.sleepingUser>p{
	height:30px;
	margin-top:7px;
}

.sleepingUser>input{
	border: 1px solid #c4dff4;
    background-color: #f6fbff;
    color: #0473cb;
    cursor:pointer;
    width:73px;
    height:28px;
    margin-left:7px;
}

.loginInfo p{
	color:gray;
}
.loginInfo h3{
	font-weight:bold;
	padding-left:10px;
	font-size:25px; 
}
.login-box{
	display:flex;
}
.logintext4{
	display:flex;
}

.login-container>form>input{
	display:flex;
	flex-direction:column;
	
}


.logintext2{
	text-align:center;
}
.login-title{
	margin-top:10px;
	/* margin-left:10px; */
	
}
.login-title span{
	margin-left:20px;
	text-align:left;
	font-size:16px;
	font-weight:bold;
} 
.hr1{
	opacity:0.5;
	width:950px;
}
.hr2{
	background:#666;
	height:2px;
	width:950px;
}
.hr3{
	background: #582810;
	width: 300px;
	height:1px;
}
.login-box2{
	border : #582810 solid;
	box-sizing: border-box;
	width:346px;
	height:336px;
}

.login-container{
	/* border : #582810 solid; */
	width:332px;
	/* heigth:230px; */
	margin-bottom:30px;
}
.logintext1>input{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	vertical-align:middle;
	width:170px;
	height:30px;
	margin-top:10px; 
}
.loginSubmit>input{
	color:white;
	cursor: pointer;
}
.loginSubmit{
	margin-left:7px; 
}
.logintext4{
	justify-content:center;
	align-items:center;
}
.logintext1{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	padding-bottom:12px; 
	/* vertical-align:middle; */
}
.logintext1>input{
	width:218px;
	height:28px;
}

.logintext3{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:7px;
	padding-top:10px;
	text-align: center;
	
}
.loginSubmit>input{
	width:70px;
	height:70px;
	background-color:#582810;
	border: 1px #0362ad solid;
	cursor: pointer;
}
.searchIdPwd{
	font-weight: bold;
	color:#353f67;
}
.searchIdPwd:hover{
	cursor: pointer;
	color:#0000ff;
	
}
.loginSubmit>input:hover{
	width:70px;
	height:70px;
	background-color: #800000;
	border: 1px #0362ad solid;
	cursor: pointer;
}
/* 네이버 id로 가입/로그인 */
.logintext3>input:nth-child(1){
	width:115px;
	height:36px;
}
.logintext3>input:nth-child(2){
	color:white;
	background-color:#666;
	width:169px;
	height:36px;
	margin-left:10px;
	cursor:pointer;
}
.login-ad{
	padding-left:15px;
	
}
.login-ad>img{
	cursor:pointer;
}


.login-box3{
	padding-top:30px;
	padding-bottom:30px;
}
.login-box3>img{
	cursor:pointer;
}

.login-box4 p{
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
}