@charset "UTF-8";

.updatePw-container{
	display: flex;
    justify-content: center;
    flex-direction: column;
	width:100%;
	align-items:center;
}

.searchPwType{
	padding-bottom:10px;
}
.search-Th{
	/* width:110px; */
}
.updateMyInfo-title3{
	font-weight: bold;
	color:#353f67;
	font-size:20px;
	text-align:center;
	padding-top: 50px;
}
.updateMyInfo-title4{
	font-weight: bold;
	color:#353f67;
	font-size:20px;
	text-align:center;
	padding: 20px 20px;
}
.search1VerBtns{
	padding: 10px 10px;
	text-align: center;
}
.search1VerBtns input{
	background-color:#1776c8;
	color: #fff;
	bolder-color:#0c60a8;
}
.search1VerBtns button{
	background-color:#c0c0c0;
	color: black;
	bolder-color:#0c60a8;
}
.search1Ver{
	width:300px;
	height:7px;
	border: 1px solid #353f67;
}
.memberPwcheck3{
	display:none;
	color:#ff0000;
	font-weight: bold;
}
.memberPwcheck4{
	display:none;
	color:#ff0000;
	font-weight: bold;
}
.memberPwcheck5{
	display:none;
	color:#ff0000;
	font-weight: bold;
}
.memberPwcheck6{
	display:none;
	color:#008080;
	font-weight: bold;
}
