@charset "UTF-8";
@import url(../style.css);

/* 핫트랙스 css 시작 */

.hot-a{
	font-family: "한컴 말랑말랑";
}

#header{width: 100%; height:600px; line-height: 600px; font-size: 60px; background:red; transition: background 0.6s; text-align: center;}
.hotTracks{
    width: 950px;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.category-open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hotTracks-menu.fixed{
    
}
.hotTracks-menu{
    padding-left: 100px;
}
.hotTracks-menu ul{
    display: flex;
    justify-content: space-around;
    width: 700px;
    font-size: 12px;
    font-weight: bold;
    color: #696969;
}
.hotTracks-menu a{
    color:#696969;
    cursor: pointer;
}
.hot-a:hover{
	color:black;
}
.fixed{
    position: fixed;
    top: 0;
    left: 50;
    min-width: 1600px;
    width: 100%;
    z-index: 15;
    background-color: #FFFFFF;
}


/* 핫트랙스 css 끝 */