<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "admin">
  	
  	
  	<resultMap id="giftMap" type="gift">
		<id column="GIFT_NO" property="gift_no"/>
		<result column="GIFT_IMG" property="gift_img"/>
		<result column="GIFT_TITLE" property="gift_title"/>
		<result column="GIFT_CONTENT" property="gift_content"/>
		<result column="GIFT_PRICE" property="gift_price"/>
		<result column="GIFT_MAKER" property="gift_maker"/>
		<result column="GIFT_MADE" property="gift_made"/>
		<result column="GIFT_IMPORT" property="gift_import"/>
		<result column="GIFT_AS" property="gift_as"/>
		<result column="GIFT_SIZE" property="gift_size"/>
		<result column="GIFT_COUNT" property="gift_count"/>
		<result column="GIFT_FORSALE" property="gift_for_sale"/>
		<result column="GIFT_ROWPRICE" property="gift_rowprice"/>
		<result column="GIFT_GIFTCATE_CODE" property="gift_giftcate_code"/>
		<result column="GIFT_DISCOUNT" property="gift_discount"/>
		<association property="giftcate" javaType="giftcate">
			<id column="giftCateCode" property="giftCateCode"/>
			<result column="GIFTCATE_NAME" property="giftCateName"/>
			<result column="GIFTCATE_FIRSTREF" property="giftCateFirstRef"/>
			<result column="GIFTCATE_SECONDREF" property="giftCateSecondRef"/>
		</association>
	</resultMap>
  	
  	<resultMap id="ebookDatabindMap" type="ebookDatabind">
		<id column="BIND_NO" property="bindNo"/>
		<result column="TITLE" property="title"/>
		<result column="AUTHOR" property="author"/>
		<result column="IMAGE" property="image"/>
		<result column="PRICE" property="price"/>
		<result column="ISBN" property="isbn"/>
		<result column="PUBDATE" property="pubdate"/>
		<result column="PUBLISHER" property="publisher"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="LINK" property="link"/>
		<result column="CATEGORY_CODE" property="categoryCode"/>
		<result column="STOCK" property="stock"/>
		<result column="SALES_VOLUME" property="salesVolume"/>
		<result column="RATING" property="rating"/>
		<result column="EBOOK_RATING" property="ebookRating"/>
		<result column="EBOOK_SALES_VOLUME" property="ebookSalesVolume"/>
		<result column="PRIME_COST" property="primeCost"/>
		<result column="DISCOUNT" property="discount"/>
		<association property="ebook" javaType="ebook">
			<id column="EBOOK_NO" property="ebookNo"/>
			<result column="FILEPATH" property="filepath"/>
			<result column="SALES_VOLUME" property="salesVolume"/>
		</association>
	</resultMap>
	
	<resultMap id="ebookMap" type="ebook">
		<id column="EBOOK_NO" property="ebookNo"/>
		<result column="SALES_VOLUME" property="salesVolume"/>
	</resultMap>
	<!-- 책등록 -->
	<insert id="insertProduct1">
		INSERT INTO BOOK_EBOOK_DATABIND VALUES(SEQ_BOOK_EBOOK_DATABIND.NEXTVAL,#{title},#{author},#{image},#{price},#{isbn},#{pubdate},#{publisher},#{description},#{link},#{categoryCode},0,0,0,0,0,0,#{discount})
	</insert>
	
	<!-- 기프트 등록 -->
	<insert id="insertProduct3">
		INSERT INTO GIFT VALUES(SEQ_GIFT_NO.NEXTVAL,#{gift_img},#{gift_title},#{gift_content},#{gift_price},#{gift_maker},#{gift_made},#{gift_import},#{gift_as},#{gift_size},0,#{gift_for_sale},0,#{gift_giftcate_code},#{gift_discount})
	</insert>
	
	<!-- 책입고 -->
	<update id="updateProduct1">
		UPDATE BOOK_EBOOK_DATABIND SET STOCK=STOCK+#{stock},PRIME_COST=#{primeCost} WHERE BIND_NO=#{bindNo}
	</update>
	<!-- 상품 입고 -->
	<update id="updateProduct3">
		UPDATE GIFT SET GIFT_COUNT=GIFT_COUNT+#{gift_count},GIFT_ROWPRICE=#{gift_rowprice} WHERE GIFT_NO=#{gift_no}
	</update>
	
	
	<!--price조회컬럼 -->
	<select id="searchBringPrice" resultMap="ebookDatabindMap">
		SELECT PRICE FROM BOOK_EBOOK_DATABIND WHERE BIND_NO=#{bindNo}
	</select>
	
	<!-- 출고전 재고확인 -->
	<select id="checkStock1" resultMap="ebookDatabindMap">
		SELECT STOCK FROM BOOK_EBOOK_DATABIND WHERE BIND_NO=#{bindNo}
	</select>
	
	<!-- 재고에서 -출고개수 -->
  	<update id="outputProduct1">
  		UPDATE BOOK_EBOOK_DATABIND SET STOCK=STOCK-#{stock} WHERE BIND_NO=#{bindNo}
  	</update>
  	
  	<!-- book판매량에서 +출고개수 -->
  	<update id="updateSalesVolume1">
  		UPDATE BOOK_EBOOK_DATABIND SET SALES_VOLUME=SALES_VOLUME+#{stock} WHERE BIND_NO=#{bindNo}
  	</update>
  	
  	<!-- 책 재고조회 -->
  	<select id="selectEbookDatabindList" resultMap="ebookDatabindMap">
  		SELECT * FROM BOOK_EBOOK_DATABIND
  	</select>
  	<select id="selectEbookDataCount" resultType="_int">
  		SELECT COUNT(*) FROM BOOK_EBOOK_DATABIND
  	</select>
  	
  	<!-- 상품 재고조회 -->
  	<select id="selectGiftList" resultMap="giftMap">
  		SELECT * FROM GIFT
  	</select>
  	<select id="selectGiftCount" resultType="_int">
  		SELECT COUNT(*) FROM GIFT
  	</select>
  	
  	
</mapper>
