<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "admin">
  	
  	
  	<resultMap id="giftMap" type="gift">
		<id column="GIFT_NO" property="gift_no"/>
		<result column="GIFT_IMG" property="gift_img"/>
		<result column="GIFT_TITLE" property="gift_title"/>
		<result column="GIFT_CONTENT" property="gift_content"/>
		<result column="GIFT_PRICE" property="gift_price"/>
		<result column="GIFT_MAKER" property="gift_maker"/>
		<result column="GIFT_MADE" property="gift_made"/>
		<result column="GIFT_IMPORT" property="gift_import"/>
		<result column="GIFT_AS" property="gift_as"/>
		<result column="GIFT_SIZE" property="gift_size"/>
		<result column="GIFT_COUNT" property="gift_count"/>
		<result column="GIFT_FORSALE" property="gift_for_sale"/>
		<result column="GIFT_ROWPRICE" property="gift_rowprice"/>
		<result column="GIFT_GIFTCATE_CODE" property="gift_giftcate_code"/>
		<result column="GIFT_DISCOUNT" property="gift_discount"/>
		<result column="GIFT_SALESVOLUME" property="gift_salesVolume"/>
		<association property="giftcate" javaType="giftcate">
			<id column="giftCateCode" property="giftCateCode"/>
			<result column="GIFTCATE_NAME" property="giftCateName"/>
			<result column="GIFTCATE_FIRSTREF" property="giftCateFirstRef"/>
			<result column="GIFTCATE_SECONDREF" property="giftCateSecondRef"/>
		</association>
	</resultMap>
  	
  	<resultMap id="ebookDatabindMap" type="ebookDatabind">
		<id column="BIND_NO" property="bindNo"/>
		<result column="TITLE" property="title"/>
		<result column="AUTHOR" property="author"/>
		<result column="IMAGE" property="image"/>
		<result column="PRICE" property="price"/>
		<result column="ISBN" property="isbn"/>
		<result column="PUBDATE" property="pubdate"/>
		<result column="PUBLISHER" property="publisher"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="LINK" property="link"/>
		<result column="CATEGORY_CODE" property="categoryCode"/>
		<result column="STOCK" property="stock"/>
		<result column="SALES_VOLUME" property="salesVolume"/>
		<result column="RATING" property="rating"/>
		<result column="EBOOK_RATING" property="ebookRating"/>
		<result column="EBOOK_SALES_VOLUME" property="ebookSalesVolume"/>
		<result column="PRIME_COST" property="primeCost"/>
		<result column="DISCOUNT" property="discount"/>
		<association property="ebook" javaType="ebook">
			<id column="EBOOK_NO" property="ebookNo"/>
			<result column="FILEPATH" property="filepath"/>
			<result column="SALES_VOLUME" property="salesVolume"/>
		</association>
	</resultMap>
	
	<resultMap id="ebookMap" type="ebook">
		<id column="EBOOK_NO" property="ebookNo"/>
		<result column="SALES_VOLUME" property="salesVolume"/>
	</resultMap>
	<!-- 책등록 -->
	<insert id="insertProduct1">
		INSERT INTO BOOK_EBOOK_DATABIND VALUES(SEQ_BOOK_EBOOK_DATABIND.NEXTVAL,#{title},#{author},#{image},#{price},#{isbn},#{pubdate},#{publisher},#{description},#{link},#{categoryCode},0,0,0,0,0,0,#{discount})
	</insert>
	
	<!-- 기프트 등록 -->
	<insert id="insertProduct3">
		INSERT INTO GIFT VALUES(SEQ_GIFT_NO.NEXTVAL,#{gift_img},#{gift_title},#{gift_content},#{gift_price},#{gift_maker},#{gift_made},#{gift_import},#{gift_as},#{gift_size},0,#{gift_for_sale},0,#{gift_giftcate_code},#{gift_discount},0)
	</insert>
	
	<!-- 책입고 -->
	<update id="updateProduct1">
		UPDATE BOOK_EBOOK_DATABIND SET STOCK=STOCK+#{stock},PRIME_COST=#{primeCost} WHERE BIND_NO=#{bindNo}
	</update>
	<!-- 상품 입고 -->
	<update id="updateProduct3">
		UPDATE GIFT SET GIFT_COUNT=GIFT_COUNT+#{gift_count},GIFT_ROWPRICE=#{gift_rowprice} WHERE GIFT_NO=#{gift_no}
	</update>
	
	<!--price조회컬럼 -->
	<select id="searchBringPrice" resultMap="ebookDatabindMap">
		SELECT PRICE FROM BOOK_EBOOK_DATABIND WHERE BIND_NO=#{bindNo}
	</select>
	
	<!-- 출고전 book 재고확인 -->
	<select id="checkStock1" resultMap="ebookDatabindMap">
		SELECT STOCK FROM BOOK_EBOOK_DATABIND WHERE BIND_NO=#{bindNo}
	</select>
	
	<!-- 출고전 admin 재고확인 -->
	<select id="checkStock3" resultMap="giftMap">
		SELECT GIFT_COUNT FROM GIFT WHERE GIFT_NO=#{gift_no}
	</select>
	
	<!-- 재고에서 -출고개수 -->
  	<update id="outputProduct1">
  		UPDATE BOOK_EBOOK_DATABIND SET STOCK=STOCK-#{stock} WHERE BIND_NO=#{bindNo}
  	</update>
  	
  	<!-- book판매량에서 +출고개수 -->
  	<update id="updateSalesVolume1">
  		UPDATE BOOK_EBOOK_DATABIND SET SALES_VOLUME=SALES_VOLUME+#{stock} WHERE BIND_NO=#{bindNo}
  	</update>
  	
  	<!-- ebook판매량에서 +출고개수 -->
  	<update id="updateSalesVolume2">
  		UPDATE BOOK_EBOOK_DATABIND SET EBOOK_SALES_VOLUME=EBOOK_SALES_VOLUME+#{ebookSalesVolume} WHERE BIND_NO=#{bindNo}
  	</update>
  	
  	<!-- gift 재고 -출고 && 판매량+출고  -->
  	<update id="outputAndupdateSalesVolume3">
  		UPDATE GIFT SET GIFT_COUNT=GIFT_COUNT-#{gift_count}, GIFT_SALESVOLUME=GIFT_SALESVOLUME+#{gift_count} WHERE GIFT_NO=#{gift_no}
  	</update>
  	
  	<!-- 책 재고조회 -->
  	<select id="selectEbookDatabindList" resultMap="ebookDatabindMap">
  		SELECT * FROM BOOK_EBOOK_DATABIND
  	</select>
  	<select id="selectEbookDataCount" resultType="_int">
  		SELECT COUNT(*) FROM BOOK_EBOOK_DATABIND
  	</select>
  	
  	<!-- 상품 재고조회 -->
  	<select id="selectGiftList" resultMap="giftMap">
  		SELECT * FROM GIFT
  	</select>
  	<select id="selectGiftCount" resultType="_int">
  		SELECT COUNT(*) FROM GIFT
  	</select>
  	
  	<!--재고 book 정렬 -->
  	<select id="orderStockList" resultMap="ebookDatabindMap">
  		SELECT * FROM BOOK_EBOOK_DATABIND
  		WHERE 1=1
  		<if test="stockNum1 !=null and stockNum1!=''">
  		 	AND STOCK >= #{stockNum1}
  		</if>
  		<if test="stockNum2 !=null and stockNum2!=''">
  		 	AND STOCK &lt; #{stockNum2}
  		</if>
  	</select>
  	
  	<!--재고 gift 정렬 -->
  	<select id="orderStockList3" resultMap="giftMap">
  		SELECT * FROM GIFT
  		WHERE 1=1
  		<if test="stockNum1 !=null and stockNum1!=''">
  		 	AND GIFT_COUNT >= #{stockNum1}
  		</if>
  		<if test="stockNum2 !=null and stockNum2!=''">
  		 	AND GIFT_COUNT &lt; #{stockNum2}
  		 </if>
  	</select>
  	
  	<!--재고현황 book 검색-->
  	<select id="searchTextStockList" resultMap="ebookDatabindMap">
  		SELECT * FROM BOOK_EBOOK_DATABIND WHERE
  		<choose>
			<when test="type4 == 'no'">
				 BIND_NO=#{search5}
			</when>
			<when test="type4 == 'title'">
				TITLE LIKE '%'||#{search5}||'%'
			</when>
		</choose>
  	</select>
  	
  	
  	<!--재고현황 gift 검색-->
  	<select id="searchTextStockList3" resultMap="giftMap">
  		SELECT * FROM GIFT WHERE
  		<choose>
			<when test="type4 == 'no'">
				 GIFT_NO=#{search5}
			</when>
			<when test="type4 == 'title'">
				GIFT_TITLE LIKE '%'||#{search5}||'%'
			</when>
		</choose>
  	</select>
  	
  	<!-- 재고현황 책테이블 수정  -->
  	<update id="stockUpdate">
  		UPDATE BOOK_EBOOK_DATABIND SET TITLE=#{title} , PRICE=#{price} , PUBLISHER =#{publisher},CATEGORY_CODE=#{categoryCode} WHERE BIND_NO=#{bindNo}
  	</update>
  	<!-- 재고현황 gift테이블 수정  -->
  	<update id="stockUpdate2">
  		UPDATE GIFT SET GIFT_TITLE=#{gift_title}, GIFT_CONTENT=#{gift_content}, GIFT_PRICE=#{gift_price}, GIFT_AS=#{gift_as},GIFT_GIFTCATE_CODE=#{gift_giftcate_code} WHERE GIFT_NO=#{gift_no}
  	</update>
  	
  	<!-- 재고현황 book 삭제 -->
  	<delete id="stockTDelete">
  		DELETE FROM BOOK_EBOOK_DATABIND WHERE BIND_NO=#{bindNo}
  	</delete>
  	
  	<!-- 재고현황 gift 삭제 -->
  	<delete id="stockTDelete2">
  		DELETE FROM GIFT WHERE GIFT_NO=#{gift_no}
  	</delete>
  	
  	
</mapper>
