@charset "UTF-8";
.admin-container{
	display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
    align-items: center;
}
.admin-box1{
	width: fix-content;
	display:flex;
	height:700px;
	min-height:500px; 
	box-sizing: border-box;
}
.admin-box3{
	height:100%;
	border-left: 1px solid #deded8;
}

.admin-box2{
	display: flex;
	flex-direction: column;
	border-left: 1px solid #deded8;
	border-right: 1px solid #deded8; 
	width:1000px;
}

.admin-box4{
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	justify-content:center;
	vertical-align:middle; 
	width:1000px;
	padding-top:42px;
	padding-bottom:42px; 

	
}
.admin-search3 th{
	background-color: #582810;
	color:white;
}
.admin-search3{
	border: 1px solid #582810;
	height: 100%;
	width: 960px;
	
   
}
.admin-search{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.adminHowTable{
	width:100%;
	height: 100%;
	text-align: center;
	/* height: 100px;  */
}
.adminHowTable th,.adminHowTable td{
	border: 1px solid #582810;
	height: 50px;
	vertical-align: middle;
	
}
.search-box img{
	background-color: #804040;
	width:25px;
	hight:25px;
	filter: invert(100%);
	
}
.search-box img:hover{
	opacity: 0.5;
	cursor: pointer;
}
.search-box {
/* 	display: flex; */
	align-items: center;
	justify-content:center;
}
.memberT-container{
	height: 100%;
	overflow-x:scroll;
}
.memberT{
	/* width: 730px; */ 
	/* width:auto; */
	width: 1300px;
	/* overflow-x: auto; */
	margin-left: 20px;
	/* margin-top:30px;  */
	text-align: center;	
	margin-bottom:20px;
	table-layout:fixed;
}
.memberT tbody{
	border: black 1px solid;
    border-collapse: collapse;
}
.memberT input{
	text-align:center;
	width:100%;
}
.memberT tr>td:nth-child(1), .memberT tr>th:nth-child(1){
	width: 120px;
	text-align:center;
}
.memberT tr>td:nth-child(5), .memberT tr>th:nth-child(5){
	width: 70px;
	text-align:center;
}
.memberT tr>td:nth-child(6), .memberT tr>th:nth-child(6){
	width: 120px;
	text-align:center;
}
.memberT tr>td:nth-child(7), .memberT tr>th:nth-child(7){
	width: 150px;
	text-align:center;
}
.memberT tr>td:nth-child(8), .memberT tr>th:nth-child(8){
	width: 70px;
	text-align:center;
}
.memberT tr>td:nth-child(9), .memberT tr>th:nth-child(9){
	width: 150px;
	text-align:center;
}
.memberT tr>td:nth-child(10), .memberT tr>th:nth-child(10){
	width: 70px;
	text-align:center;
}
.memberT tr>td:nth-child(11), .memberT tr>th:nth-child(11){
	width: 70px;
	text-align:center;
}
.memberT tr>td:nth-child(12), .memberT tr>th:nth-child(12){
	width: 70px;
	text-align:center;
}
.memberT th{
	/* width: 100px; */
	height:30px;
	background-color: #582810;
	color:white;
	vertical-align: middle;
}

.memberT td{
	/* width: 100px; */
	/* border: 1px solid black; */
}
.updateCheck{
	width:20px;
	hight:20px;
	cursor: pointer;
	/* border:1px solid black; */
}
.Dodo1{
	border:1px solid black;
	/* border-radius: 30%; */
}
.turnRed{
	color:red;
	font-weight: bold;
}
.memberTFont{
	font-weight: bold;
	margin-left:20px;
	margin-bottom:10px;
}
.memberTFont2{
	font-weight: bold;
	margin-left:20px;
	margin-bottom:20px;
}
.adminBtn{
	background-color: #582810;
	color:white;
}
.adminBtn:hover{
	background-color: #800000;
	color:white;
}