@charset "UTF-8";
.admin-container{
	display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
    align-items: center;
}
.admin-box1{
	width: fit-content;
	display:flex;
	height:700px;
	min-height:500px; 
	box-sizing: border-box;
}
.admin-box3{
	height:100%;
	border-left: 1px solid #deded8;
}

.admin-box2{
	display: flex;
	flex-direction: column;
	border-left: 1px solid #deded8;
	border-right: 1px solid #deded8; 
	width:1000px;
}

.admin-box4{
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	justify-content:center;

	vertical-align:middle; 
	width:1000px;
	/* height: 100px; */
	padding-top:42px;
	padding-bottom:42px;
	/* overflow:scroll; */
	
}

.saleDate2{
	margin-left: 75px;
}
.admin-search3 th{
	background-color: #582810;
	color:white;
}
.admin-search3{
	border: 1px solid #582810;
	height: 100%;
	width: 960px;
   
}
.admin-search{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.adminHowTable{
	width:100%;
	height: 100%;
	text-align: center;
	/* height: 100px;  */
}
.adminHowTable th,.adminHowTable td{
	border: 1px solid #582810;
	height: 50px;
	vertical-align: middle;
	
}
.search-box img{
	background-color: #804040;
	width:25px;
	hight:25px;
	filter: invert(100%);
	
}
.search-box img:hover{
	opacity: 0.5;
}
.search-box {
/* 	display: flex; */
	align-items: center;
	justify-content:center;
}
.saleT-container{
	height: 100%;
	overflow-x:scroll;
}
.saleT{
	/* width: 730px; */ 
	/* width:auto; */
	width: 1900px;
	/* overflow-x: auto; */
	margin-left: 20px;
	/* margin-top:30px;  */
	text-align: center;	
	margin-bottom:20px;
}
.saleT tbody{
	border: black 1px solid;
    border-collapse: collapse;
}
.saleT th{
	/* width: 100px; */
	height:30px;
	background-color: #582810;
	color:white;
	vertical-align: middle;
}

.saleT td{
	/* width: 100px; */
}
.updateCheck{
	width:20px;
	hight:20px;
	cursor: pointer;
}
.turnRed{
	color:red;
	font-weight: bold;
}
.saleTFont{
	font-weight: bold;
	margin-left:20px;
	margin-bottom:10px;
}
.saleTFont2{
	font-weight: bold;
	margin-left:20px;
	margin-bottom:20px;
}
