@charset "UTF-8";

.admin-container{
	display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
    align-items: center;
}
.admin-box1{
	width: 950px;
	display:flex;
	height:700px;
	min-height:500px; 
	box-sizing: border-box;
}
.admin-box3{
	height:100%;
	border-left: 1px solid #deded8;
}
.chart1{
	
}
.chart2{

}
.chart3{
	
}


.admin-box2{
	display: flex;
	flex-direction: column;
	border-left: 1px solid #deded8;
	border-right: 1px solid #deded8; 
	width:770px;
	overflow: scroll;
}

