<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "ebook">

	<resultMap id="ebookDatabind" type="ebookDataBind">
		<id column="BIND_NO" property="bindNo"/>
		<result column="TITLE" property="title"/>
		<result column="AUTHOR" property="author"/>
		<result column="IMAGE" property="image"/>
		<result column="PRICE" property="price"/>
		<result column="ISBN" property="isbn"/>
		<result column="PUBDATE" property="pubdate"/>
		<result column="PUBLISHER" property="publisher"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="LINK" property="link"/>
		<result column="CATEGORY_CODE" property="categoryCode"/>
		<association property="ebook" javaType="ebook">
			<id column="EBOOK_NO" property="ebookNo"/>
			<result column="FILEPATH" property="filepath"/>
			<result column="SALES_VOLUME" property="salesVolume"/>
		</association>
	</resultMap>
	
	<resultMap id="ebook" type="ebook">
		<result column="EBOOK_NO" property="ebookNo"/>
		<result column="SALES_VOLUME" property="salesVolume"/>
	</resultMap>

	<insert id="insertBookDataIntoDatabase">
		INSERT INTO BOOK_EBOOK_DATABIND VALUES(
			SEQ_BOOK_EBOOK_DATABIND.NEXTVAL,
			#{title},
			#{author},
			#{image},
			#{price},
			#{isbn},
			#{pubdate},
			#{publisher},
			#{description},
			#{link},
			#{groupId},
			DEFAULT
		)
	</insert>
	
	<select id="search" resultMap="ebookDatabind">
		SELECT * FROM BOOK_EBOOK_DATABIND
		WHERE ${searchType} LIKE '%'||#{keyword}||'%'
		AND CATEGORY_CODE=#{categoryCode}
		ORDER BY 
		<choose>
			<when test="importancePubdate == 1 and importanceSales == 2">
				PUBDATE ${pubdateOrder},
				SALES_VOLUME ${salesOrder},
				PRICE ${priceOrder}
			</when>
			<when test="importancePubdate == 2 and importanceSales == 1">
				SALES_VOLUME ${salesOrder},
				PUBDATE ${pubdateOrder},
				PRICE ${priceOrder}
			</when>
			<when test="importanceSales == 1 and importancePrice == 2">
				SALES_VOLUME ${salesOrder},
				PRICE ${priceOrder},
				PUBDATE ${pubdateOrder}
			</when>
			<when test="importanceSales == 2 and importancePrice == 1">
				PRICE ${priceOrder},
				SALES_VOLUME ${salesOrder},
				PUBDATE ${pubdateOrder}
			</when>
			<when test="importancePubdate == 1 and importancePrice ==2">
				PUBDATE ${pubdateOrder},
				PRICE ${priceOrder},
				SALES_VOLUME ${salesOrder}
			</when>
			<otherwise>
				PRICE ${priceOrder},
				PUBDATE ${pubdateOrder},
				SALES_VOLUME ${salesOrder}
			</otherwise>
		</choose>
	</select>

</mapper>
