<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "ebook">

	
	<resultMap id="ebookDatabind" type="ebookDataBind">
		<id column="BIND_NO" property="bindNo"/>
		<result column="TITLE" property="title"/>
		<result column="AUTHOR" property="author"/>
		<result column="IMAGE" property="image"/>
		<result column="PRICE" property="price"/>
		<result column="ISBN" property="isbn"/>
		<result column="PUBDATE" property="pubdate"/>
		<result column="PUBLISHER" property="publisher"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="LINK" property="link"/>
		<result column="CATEGORY_CODE" property="categoryCode"/>
		<association property="ebook" javaType="ebook">
			<id column="EBOOK_NO" property="ebookNo"/>
			<result column="FILEPATH" property="filepath"/>
			<result column="SALES_VOLUME" property="salesVolume"/>
		</association>
	</resultMap>
	
	<resultMap id="ebook" type="ebook">
		<result column="EBOOK_NO" property="ebookNo"/>
		<result column="SALES_VOLUME" property="salesVolume"/>
	</resultMap>

	<insert id="insertBookDataIntoDatabase">
		INSERT INTO BOOK_EBOOK_DATABIND VALUES(
			SEQ_BOOK_EBOOK_DATABIND.NEXTVAL,
			#{title},
			#{author},
			#{image},
			#{price},
			#{isbn},
			#{pubdate},
			#{publisher},
			#{description},
			#{link},
			#{groupId},
			DEFAULT
		)
	</insert>
	
	<select id="search" resultMap="ebookDatabind">
		SELECT * FROM BOOK_EBOOK_DATABIND
		WHERE ${searchType} LIKE '%'||#{keyword}||'%'
		AND CATEGORY_CODE=#{categoryCode}
		ORDER BY 
		<choose>
			<when test="importancePubdate>importanceSales>importanceRating>importancePrice">
				PUBDATE ${pubdateOrder},
				SALES_VOLUME ${salesOrder},
				RATING ${ratingOrder},
				PRICE ${priceOrder}
			</when>
			<when test="importancePubdate>importanceSales>importancePrice>importanceRating">
				PUBDATE ${pubdateOrder},
				SALES_VOLUME ${salesOrder},
				PRICE ${priceOrder},
				RATING ${ratingOrder}
			</when>
			<when test="importancePubdate>importancePrice>importanceSales>importanceRating">
				PUBDATE ${pubdateOrder},
				PRICE ${priceOrder},
				SALES_VOLUME ${salesOrder},
				RATING ${ratingOrder}
			</when>
			<when test="importancePubdate>importancePrice>importanceRating>importanceSales">
				PUBDATE ${pubdateOrder},
				PRICE ${priceOrder},
				RATING ${ratingOrder},
				SALES_VOLUME ${salesOrder},
			</when>
			<when test="importancePubdate>importanceRating>importanceSales>importancePrice">
				PUBDATE ${pubdateOrder},
				RATING ${ratingOrder},
				SALES_VOLUME ${salesOrder},
				PRICE ${priceOrder}
			</when>
			<when test="importancePubdate>importanceRating>importancePrice>importanceSales">
				PUBDATE ${pubdateOrder},
				RATING ${ratingOrder},
				PRICE ${priceOrder},
				SALES_VOLUME ${salesOrder}
			</when>
			<when test="importanceSales>importancePubdate>importanceRating>importancePrice">
				SALES_VOLUME ${salesOrder},
				PUBDATE ${pubdateOrder},
				RATING ${ratingOrder},
				PRICE ${priceOrder}
			</when>
			<when test="importanceSales>importancePubdate>importancePrice>importanceRating">
				SALES_VOLUME ${salesOrder},
				PUBDATE ${pubdateOrder},
				PRICE ${priceOrder},
				RATING ${ratingOrder}
			</when>
			<when test="importanceSales>importanceRating>importancePubdate>importancePrice">
				SALES_VOLUME ${salesOrder},
				RATING ${ratingOrder},
				PUBDATE ${pubdateOrder},
				PRICE ${priceOrder}
			</when>
			<when test="importanceSales>importanceRating>importancePrice>importancePubdate">
				SALES_VOLUME ${salesOrder},
				RATING ${ratingOrder},
				PRICE ${priceOrder},
				PUBDATE ${pubdateOrder}				
			</when>
			<when test="importanceSales>importancePrice>importancePubdate>importanceRating">
				SALES_VOLUME ${salesOrder},
				PRICE ${priceOrder},
				PUBDATE ${pubdateOrder},
				RATING ${ratingOrder}				
			</when>
			<when test="importanceSales>importancePrice>importanceRating>importancePubdate">
				SALES_VOLUME ${salesOrder},
				PRICE ${priceOrder},
				RATING ${ratingOrder},
				PUBDATE ${pubdateOrder}
			</when>
			<when test="importanceRating>importanceSales>importancePrice>importancePubdate">
				RATING ${ratingOrder},
				SALES_VOLUME ${salesOrder},
				PRICE ${priceOrder},
				PUBDATE ${pubdateOrder}				
			</when>
			<when test="importanceRating>importanceSales>importancePubdate>importancePrice">
				RATING ${ratingOrder},
				SALES_VOLUME ${salesOrder},
				PUBDATE ${pubdateOrder},
				PRICE ${priceOrder}
			</when>
			<when test="importanceRating>importancePubdate>importanceSales>importancePrice">
				RATING ${ratingOrder},
				PUBDATE ${pubdateOrder},
				SALES_VOLUME ${salesOrder},
				PRICE ${priceOrder}
			</when>
			<when test="importanceRating>importancePubdate>importancePrice>importanceSales">
				RATING ${ratingOrder},
				PUBDATE ${pubdateOrder},
				PRICE ${priceOrder},
				SALES_VOLUME ${salesOrder}
			</when>
			<when test="importanceRating>importancePrice>importancePubdate>importanceSales">
				RATING ${ratingOrder},
				PRICE ${priceOrder},
				PUBDATE ${pubdateOrder},
				SALES_VOLUME ${salesOrder}
			</when>
			<when test="importanceRating>importancePrice>importanceSales>importancePubdate">
				RATING ${ratingOrder},
				PRICE ${priceOrder},
				SALES_VOLUME ${salesOrder},
				PUBDATE ${pubdateOrder}				
			</when>
			<when test="importancePrice>importanceRating>importancePubdate>importanceSales">
				PRICE ${priceOrder},
				RATING ${ratingOrder},
				PUBDATE ${pubdateOrder},
				SALES_VOLUME ${salesOrder}
			</when>
			<when test="importancePrice>importanceRating>importanceSales>importancePubdate">
				PRICE ${priceOrder},
				RATING ${ratingOrder},
				SALES_VOLUME ${salesOrder},
				PUBDATE ${pubdateOrder}
			</when>
			<when test="importancePrice>importanceSales>importanceRating>importancePubdate">
				PRICE ${priceOrder},
				SALES_VOLUME ${salesOrder},
				RATING ${ratingOrder},
				PUBDATE ${pubdateOrder}
			</when>
			<when test="importancePrice>importanceSales>importancePubdate>importanceRating">
				PRICE ${priceOrder},
				SALES_VOLUME ${salesOrder},
				PUBDATE ${pubdateOrder},
				RATING ${ratingOrder}
			</when>
			<when test="importancePrice>importancePubdate>importanceRating>importanceSales">
				PRICE ${priceOrder},
				PUBDATE ${pubdateOrder},
				RATING ${ratingOrder},
				SALES_VOLUME ${salesOrder}
			</when>
			<when test="importancePrice>importancePubdate>importanceSales>importanceRating">
				PRICE ${priceOrder},
				PUBDATE ${pubdateOrder},
				SALES_VOLUME ${salesOrder},
				RATING ${ratingOrder}
			</when>
			<otherwise>
				PUBDATE ${pubdateOrder},
				SALES_VOLUME ${salesOrder},
				RATING ${ratingOrder},
				PRICE ${priceOrder}
			</otherwise>
		</choose>
	</select>
	
	<insert id="uploadEbook">
		INSERT INTO EBOOK VALUES(#{ebookNo}, #{filepath}, DEFAULT)
	</insert>

</mapper>
