@charset "UTF-8";
section#content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.used-board-container {
    box-sizing: border-box;
    padding: 10px;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    width: 950px;
    min-width: 950px;
    height: fit-content;
}

div.side-menu {
    position: absolute;
    left: 0;
    top: 300px;
    border: 1px solid silver;
    width: 200px;
}

div.secondBoard {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid silver;
    margin-bottom: 10px;
    border-radius: 10px;
}

div.upper-board {
    border: 1px solid silver;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
}

div.upper-board>p {
    font-weight: bolder;
    font-size: 23px;
    flex-grow: 1;
    margin-left: 10px;
}

div.upper-board a {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

div.upper-board a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

div.upper-menu {
    margin-right: 10px;
}

div.searchBox {
    box-sizing: border-box;
    border: 1px solid silver;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
}

div.searchBox select {
    height: 30px;
}

div.searchBox input {
    height: 23px;
    width: 100%;
}

div.keyword {
    margin-left: 10px;
    flex-grow: 1;
}

div.searchBtn {
    height: 30px;
    width: 100px;
    margin-left: 20px;
}

div.searchBox button {
    width: 100%;
    height: 100%;
}

div.searchBox button:hover {
    background-color: black;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

div#imgdivback {
    border: 1px solid silver;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

div#imgdivback>img {
    width: 100%;
}

div.artice {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.used-board-content {
    border: 1px solid silver;
    padding: 15px;
    flex-grow: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

div.used-board-content span {
    display: block;
    margin-bottom: 13px;
}

div.used-board-content span:last-of-type {
    margin-bottom: 0;
}

span.used-item-title {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

span.used-item-info>span {
    display: inline;
}

div.pageBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.pageBar>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.pageBar>ul>li {
    border: 1px solid silver;
    padding: 5px 7px;
    margin-right: 5px;
}

#searchCategory {
    margin-left: 10px;
}