@charset "UTF-8";
.list-table {
    margin-top: 20px;
    margin-bottom: 60px;
}

.list-table th{
	vertical-align: middle;
	text-align:center;
    height:40px;
    border-top:2px solid skyblue;
    border-bottom:1px solid #CCC;
    font-weight: bold;
    font-size: 17px;
}

.list-table td{
	text-align:center;
    padding:10px 0;
    border-bottom:1px solid	 #CCC;
    height:20px;
    font-size: 14px ;
    word-break: break-all;
}

.btn{
    margin: 10px;
    height: 30px;
    width: 50px;
}

/*페이지바*/
div.pageBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.pageBar>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.pageBar>ul>li {
    border: 1px solid silver;
    padding: 5px 7px;
    margin-right: 5px;
}