section {
    overflow: scroll;
    padding: 0;
    position: relative;
}

section::-webkit-scrollbar {
    display: none;
}

aside {
    position: relative;
}

div.ebookItem {
    width: 180px;
    height: 230px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

div.ebookItem:hover {
    cursor: pointer;
}

img.coverImg {
    width: 100px;
    height: 150px;
}

p.title {
    font-size: 13px;
    font-weight: bolder;
    padding: 0;
    margin: 5px 10px 0 10px;
}

.loaderBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loader {
    border: 7px solid wheat;
    border-top: 7px solid saddlebrown;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.message {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bolder;
}

@Keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pseudo-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 101%;
    width: 100%;
    padding: 20px;
}

.library-controller {
    position: absolute;
    left: 30px;
    bottom: 30px;
}