@charset "UTF-8";
/* 전체 */
div#container {
    grid-template-columns: 1fr;
}

header {
    grid-column: 1 / 2;
}

section {
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(7, 200px);
    grid-template-rows: repeat(5, 150px);
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

section::-webkit-scrollbar {
    display: none;
}

section>div {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

section>div::-webkit-scrollbar {
    display: none;
}

/* 그리드 조정 */
div.create-club {
    grid-column: 1;
    grid-row: 1;
}

div.join-club {
    grid-column: 2;
    grid-row: 1;
}

div.club-box {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

div.club-notice {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
}

/* 세부 */
div.create-club p {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
}

div.create-club>div:first-child {
    margin-bottom: 5px;
}

div.create-club>div:nth-of-type(2) {
    margin-top: 5px;
}

div.join-club p {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
}

div.join-club>div:first-child {
    margin-bottom: 5px;
}

div.join-club>div:nth-of-type(2) {
    margin-top: 5px;
}

div.club-box p {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
}

div.club-box table {
    border-collapse: collapse;
    margin-top: 5px;
    border-top: 1px solid black;
}

div.club-box table th {
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;
}

div.club-box table td {
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;
}

div.delete-club {
    padding-top: 15px;
    text-align: center;
}

div.club-notice>p {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    text-align: center;
}

div.club-notice div#noticeBoard {
    border: 1px solid black;
    min-height: 150px;
    background-color: white;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
}

div.club-notice div#noticeBoard button {
    margin-left: 7px;
}