@charset "UTF-8";
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

div#container {
    background-color:ivory;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 50px 1fr;
}

header {
    position: relative;
    box-sizing: border-box;
    grid-column: 1 / 3;
    height:50px;
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 50px;
}

header li {
    box-sizing: border-box;
    margin-right: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

header li:first-of-type {
    padding-top: 7px;
}

header li:last-of-type {
    padding-top: 4px;
}

header li:hover {
    background-color: silver;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#noticeAlert {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    font-size: 17px;
    margin-left: 5px;
    padding-bottom: 2px;
}

aside {
    box-sizing: border-box;
    height:100%;
    border-right: 1px solid silver;
    padding: 15px;
}

section {
    box-sizing: border-box;
    height:100%;
    padding: 20px;
}

.selectedBranch {
    background-color: gainsboro;
}

#randomClassicalMusicBox {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    right: 30px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
}

#randomClassicalMusicBox>div {
    margin-left: 20px;
}

#musicController {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
}

#musicController>i {
    margin-left: 5px;
}

#musicController>i:hover {
    cursor: pointer;
}

.music-title {
    color: pink;
}

#hiToMember {
    font-weight: bold;
}