@charset "UTF-8";
table{
	border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th{
	vertical-align: middle;
 	display: table-cell;
    font-weight: bold;
    text-align: -internal-center;	
}

a{
    text-decoration: none;
}

#wrap{
	text-align:center;
}

#container{
	text-align: left;
    width: 1100px;
    border: 1px solid silver;
	display: inline-block;
}

.btn_coll{
	text-align:center;
}

.memberbidpoint{
	border:1px solid red;
	text-align:center;
	font-weight:bold;
}

.memberbidpoint>span{
	color: red;
    font-size: 20px;
}

.btn_coll button{
	margin:1px;
    height: 40px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
}

.auction_main{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.auction_main_left{
    flex-grow: 1;
    height: 300px;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auction_main_right{
    font-weight: bold;
    width: 200px;
    height: 300px;
    margin-left: 10px;
    border: 1px solid silver;
}

.auction_main_right h2{
	text-align:center;
	font-size:22px;
}

.acution_category{
    padding: 20px 10px 20px 10px;
    border: 1px solid silver;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.acution_category_left{
    width: 100%;
    height: 100%;
}

.acution_category_left>div>a{
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    font-weight: bolder;
    text-align: center;
    border: 1px solid silver;
    margin-right: 0px;
}

.acution_category_left>div{
    position: relative;
    display: inline-block;
}

.acution_category_left>div>div{
    padding: 10px 30px 10px 30px;
    display: none;
    width: 500px;
    position: absolute;
    top: 37px;
    border: 1px solid silver;
    z-index: 10;
    background-color: white;
}

.acution_category_left>div>div>a{
    text-align: center;
    padding: 10px;
}

.acution_category_left>div>div>a:hover{
    color: blue;
    border: 1px solid blue;
}

#auction_serach_name>div{
   text-align: right;
}

.auction_main_po {
    border: 1px solid silver;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.auction_main_po>div {
    border: 1px solid silver;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.auction_main_po_img{
	width:180px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid silver;
    border-radius: 10px;
}

.auction_main_po_img:hover {
    cursor: pointer;
}

.auction_main_po_img img{
    width: 170px;
}

.auction_main_po_center{
    width: 550px;
    padding: 10px;
    margin-left: 10px;
    flex-grow: 1;
}

.auction_main_po_center p{
	margin:13px;
    padding: 0px;
    font-size: 12px;
}

.auction_main_po_center p:first-of-type {
    display: flex;
    align-items: center;
}

.auction_main_po_center strong {
    font-weight: bold;
    margin-left: 10px;
}

.auction_main_title{
    text-align: center;
    padding: 15px;
    border:1px solid silver;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.auction_main_po_right{
    margin-left: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.auction_main_po_right>div.btn1:first-of-type {
    margin-bottom: 10px;
}

.btn1{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: lightgray;
    text-align: center;
    font-weight: bolder;
    border: 1px solid silver;
    border-radius: 10px;
}

.btn1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.pagebar{
    text-align: center;
}

.countdown>span {
    font-weight: bold;
    font-size: 17px;
    margin-left: 7px;
}

.auction_main_de {
    border: 1px solid silver;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.auction_main_de>div {
    margin-top: 10px;
}