@charset "UTF-8";
table{
	border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th{
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
    text-align: -internal-center;
}

a{
    text-decoration: none;
}

#wrap{
	text-align:center;
}

#container{
    box-sizing: border-box;
	text-align: left;
    width: 950px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
	display: inline-block;
    padding: 20px 20px 20px 20px;
}

#container h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

div.auctionwrite {
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container input[type=submit] {
    background-color: white;
    color: black;
    height: 35px;
    width: 200px;
}

#container input[type=submit]:hover {
    background-color: black;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

div.auctionwrite_submit {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

div.auctionwrite th {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
}

div.auctionwrite td {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container tr {
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#container tr:last-of-type {
    border-bottom: none;
}

textarea.auctionEx {
    width: 410px;
    height: 200px;
}

td.auctionExTd {
    padding-top: 15px;
    padding-bottom: 15px;
}

input[type=file] {
    display: none;
}

td.uploadImg {
    display: flex;
    flex-direction: row;
}

#img_add {
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 5px;
    font-size: 14px;
    margin-left: 30px;
}

#img_add:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

div.img_del {
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 5px;
    font-size: 14px;
    margin-left: 30px;
}

div.img_del:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

td.uploadImg label {
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 14px;
    width: 80px;
    height: 27px;
    padding: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

td.uploadImg label:hover {
    background-color: black;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#selectedFilename {
    font-size: 14px;
    max-width: 200px;
    overflow-x: scroll;
}