@charset "UTF-8";
table{
	border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th{
	vertical-align: middle;
 	display: table-cell;
    font-weight: bold;
    text-align: -internal-center;	
}

a{
    text-decoration: none;
}

#wrap{
	text-align:center;
}

#container{
	text-align: left;
    width: 950px;
    border: 1px solid black;
	display: inline-block;
}

.line{
    border: 1px solid black;
}

.btn_coll{
	text-align:center;
}

.memberbidpoint{
	border:1px solid red;
	text-align:center;
	font-weight:bold;
}

.memberbidpoint>span{
	color: red;
    font-size: 20px;
}

.btn_coll button{
	margin:1px;
    height: 40px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
}

.auction_main{
    padding: 10px;
    display: flex;
}

.auction_main_left{
    width: 800px;
    height: 300px;
}

.auction_main_right{
    font-weight: bold;
    width: 200px;
    height: 300px;
}

.auction_main_right h2{
	text-align:center;
	font-size:22px;
}

.acution_category{
    margin-top: 10px;
    padding: 10px;
}

.acution_category_left{
    width: 100%;
    margin-bottom: 15px;
}

.acution_category_left>div>a{
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    font-weight: bolder;
    text-align: center;
    border: 1px solid black;
    margin-right: 0px;
}

.acution_category_left>div{
    position: relative;
    display: inline-block;
}

.acution_category_left>div>div{
    padding: 10px 30px 10px 30px;
    display: none;
    width: 500px;
    position: absolute;
    top: 37px;
    border: 1px solid silver;
    z-index: 10;
    background-color: white;
}

.acution_category_left>div>div>a{
    text-align: center;
    padding: 10px;
}

.acution_category_left>div>div>a:hover{
    color: blue;
    border: 1px solid blue;
}

#auction_serach_name>div{
   text-align: right;
}

.auction_main_po_img{
	width:180px;
	height:180px;
}

.auction_main_po_img img{
    width: 180px;
    height: 180px;
    border: 1px solid black;
}

.auction_main_po_center{
    width: 550px;
    padding: 10px;
}

.auction_main_po_center p{
	margin:10px;
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
}

.auction_main_title{
    text-align: center;
    padding: 15px;
    border:1px solid black;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.auction_main_po_right{
    margin-left: 40px;
}

.btn1{
    margin: 10px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: teal;
    text-align: center;
    font-weight: bolder;
    border: 1px solid black;
}

.pagebar{
    text-align: center;
}