@charset "UTF-8";
#formdiv div{
	padding:10px;
	    border-bottom: 1px dotted silver;
}

#formdiv form div label{
	font-weight: bold;
    border-right: black 4px solid;
}

.table_tr{

}

.bidlogcheck>th{
	background-color: silver;
}

#table2 tbody tr td{
	border:1px solid black;
	font-size:16px;
	font-weight:bold;
	padding:10px;
}

#table2 tbody tr th{
	border:1px solid black;
	font-weight: bolder;
	vertical-align: middle;
 	display: table-cell;
    text-align: center;	
    padding:10px;
}

table{
	width: max-content;
	border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

td{
	text-align:center;
}

a{
    text-decoration: none;
}

#wrap{
	text-align:center;
}

#container{
	text-align: left;
    width: 950px;
    border: 1px solid black;
	display: inline-block;
}

.bidlog{
	display:none;
}