@charset "UTF-8";
table{
	border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th{
	vertical-align: middle;
 	display: table-cell;
    font-weight: bold;
    text-align: -internal-center;	
}

a{
    text-decoration: none;
}

#wrap{
	text-align:center;
}

#container{
	text-align: left;
    width: 1100px;
    border: 1px solid silver;
	display: inline-block;
}

.auctionview_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auctionview_img img{
	width:500px;
    border: 1px solid silver;
    border-radius: 30px;
    margin-bottom: 30px;
}

.bid-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 20px 20px 20px;
}

.auctionview_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
}

.auctionview_left>img{
    width: 200px;
}

.auctionview_right{
    flex-grow: 1;
    margin-left: 20px;
}

.auctionview_right p{
   padding: 0px;
   margin: 10px;
   font-size: 13px;
}

.auctionview_right h2{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.auctionview_right div{
    margin-bottom: 10px;
    border-bottom: 1px solid silver;
    padding: 5px;
}

.auctionview_btn{
    height: 40px;
    margin: 20px;
}

.auctionview_btn{
	text-align:center;
}

.auctionview_btn a{
    text-align: center;
    width: 50%;
    border: 1px solid black;
    padding: 10px 60px 10px 60px;
    background-color: blanchedalmond;
    color: gray;
    font-weight: bold;
}
.auctionview_btn a:hover{
	color:black;
    font-weight: bold;
	background-color:burlywood;
}

.auction_buy_now{
    color: red;
    font-size: 15px;
}

.auctionwrite_submit{
    text-align: center;
}

span{
    font-size: 12px;
}

.auctionwrite>table>tbody>tr>th{
    background-color: yellow;

}

.countdown{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#countdown {
    font-size: 17px;
    font-weight: bold;
}

.auction_cate{
    margin-left: 10px;
    margin-top: 5px;
	padding:10px;
    font-size: 13px;
    color: black;
}

#auctionview_main {
    padding: 20px;
}

#auctionview_main>div {
    padding: 10px 0 10px 0;
}

#auctionview_main>div>p {
    font-size: 14px;
}

#auctionview_main h2{
    color:chocolate;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px dotted silver;
    margin-bottom: 20px;
}

.bidTableBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bidLog {
    border-collapse: collapse;
    font-size: 20px;
}

#bidLog th {
    border: 1px solid silver;
    padding: 10px;
    background-color: burlywood;
    font-weight: bold;
    text-align: center;
}

#bidLog td {
    border: 1px solid silver;
    padding: 10px;
    background-color: blanchedalmond;
    text-align: center;
}