@charset "UTF-8";
.auction_mylist_img{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.auction_mylist_img img{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
#auction_mylist_table{
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

#auction_mylist_table>tbody>tr>td{
	border: 1px solid black;
	text-aglin:center;
	vertical-align: middle;
}#auction_mylist_table{
    width: 100%;
    text-align:center;
    border: 1px solid black;
}

#auction_mylist_table tr td{
	 border: 1px solid black;
}

#auction_mylist_table tr th{
	 border: 1px solid black;
}

#wrap{
	text-align:center;
}

#container{
	text-align: left;
    width: 950px;
    border: 1px solid black;
	display: inline-block;
}

.auction_main_po_right{
	width:300px
}

th{
    font-weight: bolder;
}

.buylisttr td{
	vertical-align: middle;
	padding: 10px;
}
#buylertable>tbody>tr{
	border-bottom: 1px solid black;
	
}