@import url(../css/style.css);
li{
    list-style: none;
    /* margin-left: -40px; */
}
.mouseoverbtn{
    width: 95px;
    height: 38px;
    
}
.mouseoverbtnborder{
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
    font-weight: bold;
    text-align: center;
    justify-content: center;
    line-height: 35px;
}
.mouseoverbtnbg{
    background-color: rgb(231, 231, 231);
    font-weight: bold;
    text-align: center;
    justify-content: center;
    line-height: 35px;
}
.bottomline{
    border-bottom: rgb(48, 48, 48) 1px solid;
}
/* .trigger1:hover{
    background-color: #582810;
} */
button{
    border: 1px solid rgb(206, 206, 206);
    display: block;
    
}
.textalign{
    text-align: center;
}
.outline{
    border: 1px solid rgb(206, 206, 206);
}
a { 
    text-decoration:none
}
.margintop50{
    margin-top: 50px;
}

.margintop20{
    margin-top: 20px;
}
.margintop10{
    margin-top: 10px;
}
.strong{
    font-weight: bold;

}
.middlefont{
    font-size: 14.5px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.partition{
    margin-top: 35px;
}
.test{
	background: red;
    
}
.justify{
    display: flex;
    justify-content: space-around;
}

.widebg{
	background: rgb(255, 227, 250);
    width: 100%;
    min-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mainsearchBox-slideContent{
    width: 1300px;
    height: 400px;
}
.bannerbtn{
    width: 15px;
    height: 15px;
    background-color: #582810;
    border-radius: 100%;
    margin-left: 10px;
    display: block;
}
.bannerNewbtn{
    width: 15px;
    height: 15px;
    background-color: #582810;
    border-radius: 100%;
    margin-left: 10px;
    display: block;
}
.bannerBg{
    /* background-color: #b7caff; */
    width: 100%;
    min-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mainbtn{
    align-items: center;
}
.mainslide-pagination{
    display: flex;
    border: 10px solid black;
}
.mainsearchBox-slideBtn-next{
    height: 30px;
    
}
.mainsearchBox-slideBtn-prev{
    height: 30px;
}
.wrap{
    min-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap2{
    min-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todaycg{
    width: 70px;
    height: 20px;
    text-align: center;
    margin-left: 10px;
}


.todaybtn1{
    width: 90px;
    height: 25px;
    padding-top: 10px;
}
.todaybtn2{
    width: 90px;
    height: 25px;
    padding-top: 10px;
}
.todaybtn3{
    width: 90px;
    height: 25px;
    padding-top: 10px;
}


.todaycontent{
    width: 250px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    align-content: center;
}





.todaylevboxset{
    width: 250px;
    height: 300px;
    
    overflow: hidden; 
    position: relative;
}
.todaylev2boxset{
    width: 400px;
    height: 300px;
    
    overflow: hidden;
    position: relative;
}

.boxset{
    width: 817px;
    overflow: hidden;
    position: relative;
}
.boxsetNew{
    width: 950px;
    overflow: hidden;
    position: relative;
}
.hotnewwidebg{
    width: 100%;
    min-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btndown{
    display: flex;
    align-items: flex-end;
}
.mainbanner{
    align-items: center;
}
.mainbanner_obj1{
    width: 1300px;
    height: 400px;
    overflow: hidden;
}
.mainbanner_objleft{

}
.mainbanner_objcontainer{
    width: 702px;
    background-color: #77f78c;
    height: 40px;
}
.mainbanner_objinner{
    width: 100px;
    background-color: #d65d8b;
    height: 38px;
}
.mainbanner_obj2{
    width: 237px;
    border: 1px solid #5f5858;
    background-color: white;
    height: 370px;
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
}
.mainbanner_add{
    width: 117px;
    margin-left: 10px;
    
}
.bannerwrap{
    
    width: 1200px;
    display: flex;
    justify-content: center;
    /* margin-top: 40px; */
    
}
.todaybooks{
    width: 950px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.imgborder{
    border: 1px solid #8a8a8a;
}
.hotnewcg{
    margin-top: 20px;
    font-size: 13px;
    color: #5b73fa;
    font-family: "돋움";
}
.hotnewtitle{
    margin-top: 14px;
    font-size: 14px;
    font-weight: bold;
}
.hotnewjccenter{
    justify-content: center;
    align-items: center;
}

.hotListflex{
    display: flex;
    margin-bottom: 30px;
}
.hotnew{
    width: 950px;
    /* background-color: #ffcdfb; */
    height: 400px;
}
.hotnewimgsize{
    width: 100px;
    height: 150px;
    border: 1px solid #8a8a8a;
}
.hotnewbox{
    width: 950px;
    height: 300px;
    
    display: flex;
    justify-content: space-between;

}
.hotnewinner{
    display: flex;
    flex-direction: column;
    width: 221px;
    height: 300px;
    border: 1px solid #c5c5c5;
    
}
.hotslide_btn_next{
    width: 30px;
    height: 30px;
    background-color: #08080873;
}
.hotslide_btn_prev{
    width: 30px;
    height: 30px;
    background-color: #08080873;
}
.hotNewslide_btn_prev{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}
.hotNewslide_btn_next{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}
.todaylev1slide_btn_prev{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}
.todaylev1slide_btn_next{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}
.todaylev2slide_btn_next{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}
.todaylev2slide_btn_prev{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}
.todaylev3slide_btn_next{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}
.todaylev3slide_btn_prev{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}
.todaylev4slide_btn_next{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}
.todaylev4slide_btn_prev{
    width: 30px;
    height: 30px;
    background-color: #08080873;
    margin-top: 25px;
}

.btnleftposition{
    position: absolute;
    top: 40%;
    left: 2%;
    z-index: 1000;
}
.btntodayleftposition{
    position: absolute;
    top: 40%;
    left: 2%;
    z-index: 1000;
}
.btntodayrightposition{
    position: absolute;
    top: 40%;
    right: 0%;
    z-index: 100000;
}
.btntodayrightposition2{
    position: absolute;
    top: 40%;
    right: 2%;
    z-index: 1000;
}
.btntodayrightposition3{
    position: absolute;
    top: 40%;
    right: 2%;
    z-index: 1000;
}

.btnNewleftposition{
    position: absolute;
    top: 40%;
    left: 0.1%;
    z-index: 100000;
}
.btnNewrightposition{
    position: absolute;
    top: 40%;
    right: 0.1%;
    z-index: 1000;
}
.btnrightposition{
    position: absolute;
    top: 40%;
    right: 2%;
    z-index: 1000;
}
.risingStarBg{
    width: 950px;
    background-color: #c8ff00;
    height: 290px;
}
.weekBookBg{
    width: 950px;
    /* background-color: #ff6da5; */
    height: 305px;
}
.risingStar1{
    width: 133px;
    background-color: #582810;
    height: 115px;
 
}
.alignitems{
    align-items: center;
}

.risingStar2{
    width: 817px;
    background-color: #5f5858;
    height: 290px;
}
.hotbtn{
    align-items: center;
}
.hotfont{
    color: rgb(255, 255, 255);
    margin-top: 15px;
    width: 133px;
    height: 10px;
}
.hotfontinner{
    font-family: "바탕";
    line-height: 130%;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-align: center;
    margin-top: 15px;
}
.hotnewObj{
    width: 224px;
    background-color: #86e7ff;
    height: 350px;
    margin-right: 18px;

}
.hotnewObj2{
    width: 224px;
    background-color: #5a0053;
    height: 350px;
    margin-left: 24px;
}
.todaybooks21{
    width: 600px;
    background-color: #32a374;
    height: 50px;
}
.todaybooks22{
    width: 50px;
    background-color: #43ffb1;
    height: 50px;
}



.flex{
    display: flex;
}

.todaybooksadd1{
    width: 250px;
    
    height: 300px;
}
.todaybooksadd2{
    width: 400px;
    background-color: #ff2655;
    height: 300px;
}
.todaybooksadd3{
    width: 300px;
    height: 200px;
}
.todaybooksadd4{
    width: 300px;
    height: 96px;
}

.bestsellerlist{
    width: 750px;
    height: 260px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}
li[class^="best"]{
    padding-left: 60px;
}
.bestseller12{
    width: 100px;
    height: 146px;
}
.bestseller310{
    width: 73px;
    height: 107px;
}
.author{
    margin-top: 6px;
    font-size: 12px;
    color: #8b8b8b;
}

.bestSeller_chart:not(:first-child){
 
    
    /* background-color: #93bbc2; */
    height: 670px;
    width: 100%;
    min-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/main/bestseller/background.png');
}

.icon{
    padding-bottom: 10px;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
}
.iconred{
    background-color: #c41c1c;
    font-size: 30px;
    color: #ffffff;
}
.icongray{
    background-color: #8a8a8a;
}
.rankwhite{
    font-size: 30px;
    color: #ffffff;
}
.rankgray{
    font-size: 30px;
    color: #ffffff;
}
.rank{
    font-size: 30px;
    color: #8a8a8a;
    
    
}
.bestSellerContainer{
    width: 146px;
    background-color: #ff8080;
    height: 225px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 20px;
}


.bestSeller_right{
    
    width: 190px;
    background-color: #ffffff;
    height: 545x;
    margin-left: 10px;
}
.bestSeller_innerRight{

    width: 190px;
    background-color: #00ffea;
    height: 232px;

}



.marginTop45{
    margin-top: 45px;
}


.displaynone{
    display: none;
}






.weekbookcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 190px;

    background-color: #f4f4f4;
        
}
.weekBookContainer{
    min-width: 640px;
    width: 100%;
    background-color: #6aff5c;
    height: 270px;

}
.weekBookInnerContainer{
    width: 150px;
    background-color: #ff8080;
    height: 190px;

}
.weekBookObj{

    width: 150px;
    background-color: #ceff8e;
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
}
.weekBookAdd{
    width: 300px;
    background-color: #2cc46b;
    height: 250px;
    margin-left: 10px;

}

.minibtn{
    width: 50%;
    height: 45px;
    background-color: #2cc46b;
}





.title{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}
.khloverbg1{
    width: 220px;
    height: 410px;
    border: 8px solid #d1d1d1;
}
.khloverbg2{
    width: 704px;
    height: 422px;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  
}
.khloverul{
    justify-content: space-between;
    margin-top: 60px;
    text-align: center;
    margin-left: 30px;
}

.khloverright{

    justify-content: center;
    align-items: center;
    width: 150px;
    height: 190px;
    margin-right: 20px;
    /* background-color: #f4f4f4; */
        
}
.khloverBg{
    width: 950px;
    /* background-color: #ffcdec; */
    height: 460px;
}
.khlover_container1{
    width: 250px;
    background-color: #f1f1f1;
    height: 410px;
    border: 5px solid #d1d1d1;
}
.khlover_container2{
    width: 704px;
    /* background-color: #68c3ff; */
    border: 2px solid #d1d1d1;
    height: 410px;
    margin-left: 10px;
}
.khloverscore{
    font-weight: bold;
}
.khloveritem1{
    width: 130px;
    height: 180px;
}

.khlover_right{
    width: 166px;
    background-color: #fff674;
    height: 350px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.khlover_obj0{
    width: 127px;
    background-color: #5b73fa;
    height: 162px;
    margin-top: 90px;
    margin-left: 50px;
}
.khlover_obj{
    width: 127px;
    background-color: #5b73fa;
    height: 162px;
    margin-top: 60px;
    margin-left: 15px;
}

.upFooterBg{
    width: 950px;
    /* background-color: #1cffff; */

}
.upFooter_upSide{
    width: 450px;
    /* background-color: #ff1cf4; */
    height: 30px;
}
.upFooter_upSidegg{
    width: 450px;
    /* background-color: #ff1cf4; */
    height: 30px;
    align-items: center;
}
.upFooter_downSide{
    width: 190px;
    /* background-color: #86ff40; */
    height: 223px;
    font-size: 15px;
    line-height: 170%;
    
    
}
.btnFooter{
    width: 180px;
    border: #8a8a8a solid 1px;
    height: 100px;
    
    margin-right: 10px;
}
.btnfootertext{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: 17px;
}
.btnfooterpointer{
    color: #8a8a8a;
}
.mainsearchBox-slideBox{
    width: 1300px;
    height: 400px;
}

.boldline{
    width: 100%;
    height: 1px;
    background-color: #8a8a8a;
    margin-top: 100px;
}
.line{
    width: 100%;

}
.verticalline{
    border-right: 1px solid #8a8a8a;
    height: 200px;
    scale:space-around;
}

.btnfooterslide{
    width: 15px;
    height: 15px;
}
.plus{
    margin-left: 520px;
    width: 18px;
    height: 18px;
    border: #8a8a8a solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerheadline{
    width: 950px;
}
.footerheadlinebs{
    width: 750px;
    justify-content: space-between;
    margin-right: 200px;
    
}
.footerheadlinetoday{
    width: 70px;
    height: 21px;
}
.basicset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerul{
    margin-left: 10px;
}
.footerp{
    font-weight: bold;
    margin-top: 1px;
    font-size: 13px;
}
.ataggray{
    color: #8a8a8a;
}
.underbar{
    border-bottom: #5f5858;
}
.footerslide{
    width: 350px;
    height: 15px;
}
.borderright{
   width: 80px;
    border-right: #8a8a8a 1px solid;
}
.footernoticebox-slideList{
    width: 250px;
    height: 45px;
    background-color: #bdabab;
}
.footerbtn{
    height: 10px;
}
.footerbox{
    width: 350px;
    height: 20px;
    overflow: hidden;
}
.footerslide-content{
    height: 20px;
}
.footerslide-content:not(:last-child){
padding-bottom: 5px;
}

.footerslide2-content{
    height: 20px;
}

.footerslide2-content:not(:last-child){
padding-bottom: 5px;

}

.hidden {
    display: none;
  }