@charset "UTF-8";

.content_middle {
	z-index: 200;
	*zoom: 1;
	position: relative
}

.content_middle:after {
	content: "";
	display: block;
	clear: both;
}

.admin_snb {
	float: left;
	width: 180px;
	margin: 0 10px 0 0px;
	min-height: 831px;
}

.cscenter_h2 {
	height: 21px;
	padding-bottom: 8px;
	overflow: hidden;
	border-bottom: 2px solid #565656;
}

h2>a {
	font-size: 1.5em;
}

.cscenter_snb3 {
	margin-top: 8px;
	
}

.cscenter_snb3 li strong {
	display: block;
	line-height: 12px;
	padding: 9px 9px 7px;
	font-weight: bold;
	border-bottom: solid #ececec 1px;
	color: #555;
}

.cscenter_snb3 ul {
	background-color: #f9f9f9;
	border-bottom: 1px solid #ececec;
	padding: 5px 0 4px;
	
}

.cscenter_snb3 ul li {
	font-size: 11px;
	_zoom: 1;
	padding: 5px 10px 4px;
}

.myroom_contents {
	color: #666666;
	width: 33.3em;
	/* font-family: 'Tahoma','Dotum',sans-serif;
    *font-family: 'Dotum',sans-serif; */
    float:right;
    width:755px;
}
